<div class="container">
    <div class="ev-container">
        <div class="ev-header">
            <h1> Announcement </h1>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="ev-content">
            <div class="ev-img">
                <img src="../../../../../assets/images/NoImage.png">
            </div>
            <div class="ev-details">
                <h4>Event Title</h4>
                <p>Details of the event for upcoming sample sample sample sample sample.</p>
                <h6 class="date"> December 04, 2024 </h6>
            </div>
        </div>

        <div class="ev-footer">
            
        </div>
    </div>
</div>