.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ev-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    max-height: 90%;
}

// HEADER //
.ev-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    z-index: 1;

    .exit-button {
        position: relative;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        font-size: 40px;
        cursor: pointer;
        color: var(--gray-btn);
    }
    
    .exit-button:hover {
        color: var(--gray-hover);
    }
    
    h1 {
        color: black;
        padding-top: 5px;
        font-weight: 700;
        font-size: 25px;
        text-align: left;
    }
}

// BODY CONTENT //
.ev-content {
    display: flex;
    gap: 30px;
    overflow-y: auto;
    width: 100%;
    padding: 30px;

    .ev-img {
        height: 300px;
        width: 300px;
        background-color: #929292;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .ev-details {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        h4 { 
            font-size: 24px; 
            letter-spacing: 0.5px;
        }

        p {
            font-size: 16px;
            padding: 5px 0;
        }

        .date {
            font-size: 13px;
            font-weight: 300;
            margin-top: 10px;
        }
    }
}

// SCROLLBAR //
.ev-content::-webkit-scrollbar {
    width: 7px;
}

.ev-content::-webkit-scrollbar-thumb {
    background-color: var(--gray-btn);
    border-radius: 5px;
}

.ev-content::-webkit-scrollbar-track {
    background-color: var(--white);
}

.ev-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-hover);
}

.ev-footer {
    display: flex;
    padding: 20px 30px 30px;
    z-index: 1;
}


.image-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.image-popup-content {
  width: auto;
  height: 100vh;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
    .container {
        .head {
            h1 { font-size: 20px; }
        }
    }

    .ev-header {
        h1 {
            font-size: 22px;
        }
    }

    .ev-container {
        width: 100%;
        min-height: 100%;
    }

    .ev-content {
        display: flex;
        flex-direction: column-reverse;

        .ev-details {
            h4 { 
                font-size: 20px; 
            }
    
            p {
                font-size: 14px;
            }
        }
    }
}