<div class="container">
    <div class="ev-container">
        <div class="ev-header">
            <h1> Announcement </h1>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="ev-content">
            <div class="ev-details">
                <h4>{{data.title}}</h4>
                <h6 class="date"> {{ data.created_at | date: 'longDate' }} at {{ data.created_at | date: 'shortTime' }} </h6>
                <p [innerHTML]="formatEventContent(data.description)"></p>
            </div>
            <div class="ev-img">
                <img [src]="data.image || '../../../../../assets/images/NoImage.png'"
                (click)="openImagePopup(data.image || '../../../../../assets/images/NoImage.png')"
                alt="Announcement Image" >
            </div>
        </div>

        <div class="ev-footer">
            
        </div>
    </div>

    <!-- Full-size image popup -->
    <div *ngIf="isImagePopupVisible" class="image-popup-overlay" (click)="closeImagePopup()">
        <div class="image-popup-content">
            <img [src]="selectedImage" alt="Full Size Image">
        </div>
    </div>
</div>