.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    opacity: 0;
    margin: 0 0 40px 0;
    animation: fadeIn 1s forwards;

    .card-single {
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 2rem;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease-in-out;
        border-radius: 3px;
        border-top: 3px solid var(--secondary-green);
        transform: translateY(20px);
        opacity: 0;
        animation: popUp 0.6s forwards;
        animation-delay: var(--delay, 0s);
        cursor: pointer;
    }

    .card-single:hover {
        background-color: var(--white-hover);
        transform: scale(1.05);
    }
    
    .card-single div:last-child .icon {
        font-size: 3rem;
        color: var(--primary-green);
    }

    .card-single div:last-child .decline {
        font-size: 3rem;
        color: rgb(189, 55, 55);
    }
    
    .card-single:last-child {
        background-color: var(--primary-green);
        border-top: none;
    }
    
    .card-single:last-child h1,
    .card-single:last-child div:first-child span,
    .card-single:last-child div:last-child span {
        color: white;
    }
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    th {
        background-color: var(--primary-green);
        color: white;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 15px;
    }

    th, td {
        font-family: 'Poppins';
        text-align: center;
        border-bottom-style: dashed;
    }

    td { font-size: 14px; }
    tr { transition: all 0.3s ease; } 
    tr:hover { background-color: var(--white-hover); }
}

td .status {
    display: inline-block;
    color: var(--red-btn);
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.user:hover {
    background-color: rgb(212, 212, 212);
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 600;
}

.reports {
    display: flex;
    gap: 20px; 
    width: 95%;
    margin-left: 2.5%;
  }
  
  .repcards {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    text-align: center; 
    border-top: 3px solid var(--secondary-green);
    // width: 400px;
    height: 800px;
    margin-top: 10px;
  }

  .chart-canvas {
    display: flex;              
    justify-content: center;  
    align-items: center;     
    width: 100%;           
    height: 100%;        

    canvas {
        max-width: 100%;       
        max-height: 100%;       
    }
}

.left-card {
    flex: 3;
}

.right-card {
    flex: 3; 
}
  
@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 100%;
    }
}

@media screen and (min-width: 768px) {
    main {
        margin-left: 120px;
    }
}

// tabbed sample

/* Basic Tabbed Style */
.tabbed {
	overflow-x: hidden; 
	padding-bottom: 10px;
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    max-width: 95%;
    margin-left: 2.5%;
    margin-top: 1.2%;
}
.tab {
    width: 100%; /* Adjust width as needed */
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    // width: 1440px;
}

.tab {
    flex: 1; /* Adjust tab width */
}

.tab > label {
    color: black;
	display: block;
    font-size: 20px; 
    font-weight: bold;
    line-height: 30px;
    padding: 10px 10px;
    text-align: center;
	font-weight: bold;
	cursor: pointer;	
	transition: all 0.3s;
    border-bottom: 3px solid black;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.tab:hover label {
	color: #4F6F52;
    border-bottom: 3px solid #4F6F52;
}

.tab-content {
	display: none;
    margin-top: 10px;
}

.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label {
	color: white;
    border-bottom: 3px solid #4F6F52;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--primary-green);
}

.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1) {
	display: block;
}

.date-filter {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 0;

    .txt_field {
        flex-basis: 100%;
        position: relative;
        font-weight: 400;
        margin-bottom: 0.2rem;
        height: 35px;
        width: 220px;
        color: black;
        background-color: white;
        border: 2px solid var(--primary-green);
        padding-right: 10px;
        border-radius: 4px;
        display: flex;
        align-items: center; /* Align label and input vertically */
        justify-content: flex-end;
    }

    label {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -0px;
        width: 75px;
        height: 33px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px;
        cursor: default;
        background-color: var(--primary-green);
        border: none;
        transition: background-color 200ms;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        display: flex;
        justify-content: flex-end;
        border: none;
        padding-left: 73px;
        font-size: 13px;
        color: black;
        width: 100%;
        outline: none;
    }
}



  