<div class="content">
    <div class="head">
        <!-- <div class="title"> <h1> Your Posts </h1> </div> -->
        <h1> Dashboard </h1>
        <div class="forlanding">
            <div id="history" (click)="photosHistory()">
                <i class='bx bx-history'></i>
                <span class="tooltiptext"> Previous landing page photos uploaded. </span>
            </div>
            <div class="route-btn" (click)="inputPhotos()">
                <i class='bx bx-image-add'></i> <a> Customize Landing Page Photos </a>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-single" style="--delay: 0.1s;" routerLink="../all-post">
            <div>
                <h1> {{ totalPosts }} </h1>
                <span> Total User Posts </span>
            </div>
            <div>
                <span class="icon"> <i class='bx bx-notepad'></i> </span>
            </div>
        </div>

        <div class="card-single" style="--delay: 0.2s;" routerLink="../reported-posts">
            <div>
                <h1> {{ totalReportedPosts }} </h1>
                <span > Reported User Posts </span>
            </div>
            <div>
                <span class="decline"> <i class='bx bx-error-alt' ></i></span>
            </div>
        </div>

        <div class="card-single" style="--delay: 0.3s;" routerLink="../my-barangay">
            <div>
                <h1> {{ totalBarangayPosts }} </h1>
                <span> Barangay Posts </span>
            </div>
            <div>
                <span class="icon"> <i class='bx bx-image-alt'></i> </span>
            </div>
        </div>

        <div class="card-single" style="--delay: 0.4s;" routerLink="../users">
            <div>
                <h1> {{ totalUsers }} </h1>
                <span> Total No. of Users </span>
            </div>
            <div>
                <span class="icon"> <i class='bx bx-face'></i> </span>
            </div>
        </div>
    </div>

    <div class="recent-grid" style="--delay: 0.5s;">
        <div class="report">
            <div class="reports">
                <div class="repcards left-card">
                    <h3>Most Posted Materials</h3>
                    <div class="chart-canvas">
                        <canvas id="barChartMaterials"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="report">
            <div class="reports">
                <div class="repcards left-card">
                    <h3>Most Posted Categories</h3>
                    <div class="chart-canvas">
                        <canvas id="barChart1"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="report">
            <div class="reports">
                <div class="repcards left-card">
                    <h3>Most Active User</h3>
                    <div class="chart-canvas">
                        <canvas id="pieChart1"></canvas>
                    </div>
                </div>

                <div class="repcards right-card">
                    <h3>Most Liked Post</h3>
                    <div class="chart-canvas">
                        <canvas id="pieChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>