<div class="container">
    <div class="post-container">
      <div class="post-header">
        <div class="popup-head">
          <h1>Previous Landing Page Highlights</h1>
        </div>
        <button class="exit-button" (click)="closeDialog()"> &times; </button>
      </div>
  
      <div class="post-content">
        <div class="cards-container">
          <p *ngIf="imagesHistory.length === 0 && !isLoading" class="no-uploads-message">
            No previous uploads.
          </p>

          <div *ngIf="isLoading" class="popup-loader">
            <div class="loader"></div>
            <p>Loading...</p>
          </div>
          
          <div class="card" *ngFor="let element of imagesHistory">
              <div class="card-header">
                  <h3>{{ element.created_at | date:'mediumDate' }} at {{ element.created_at | date:'shortTime' }}</h3>
              </div>
              <div class="card-body">
                  <div class="landing-images">
                    <div class="image-content-pair" *ngFor="let item of element.imagesWithContent">
                      <img [src]="item.image" alt="Image">
                      <p class="image-content">{{ item.content }}</p>
                    </div>
                  </div>
              </div>
              <div class="actions" id="uploads-actions">
                <button class="delete" (click)="deletePhotoEntry(element.id)">
                    <i class='bx bx-trash'></i>
                    <span class="tooltiptext"> Delete </span>
                </button>
              </div>
          </div>
        </div>
      </div>
  
      <div class="post-footer">
        <div class="buttons">
          <input class="danger-btn" type="button" value="Delete All" (click)="deleteAllImages()">
        </div>
      </div>
    </div>
  </div>
  