<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div class="popup-head">
                <h1> {{ post.user_name.split(' ')[0] }}'s Post </h1>
                <p *ngIf="post.status === 'reported' || post.status === 'removed'" class="status red-status"> 
                    {{ post.status }} 
                </p>
            </div>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="post-content">
            <div class="declined-remarks" *ngIf="post.status === 'declined'">
                <h3> Declined Post. </h3>
                <p> <strong>Remarks:</strong> {{ post.remarks }} </p>
            </div>

            <div class="main-post">
                <div class="upper">
                    <h2>{{ post.title }} <span class="category">{{ post.category }}</span></h2>
                </div>
                <p class="info">
                    <span class="author">{{ post.user_name }} </span>
                    <!-- <p class="category">{{ data.category }}</p> -->
                    <span class="date"> • {{ post.created_at | date:'longDate' }} at {{ post.created_at | date: 'shortTime' }}</span>
                </p>
                <p [innerHTML]="formatContent(post.content)"></p>
                <div class="post-img">
                    <img [src]="post.image || '../../../../../assets/images/NoImage.png'" alt="post image">
                </div>
            </div>
        </div>

        <div class="post-footer">
            <div class="buttons" *ngIf="post.status === 'posted' || post.status === 'reported'"> 
                <input class="danger-btn" type="button" value="Remove Post" (click)="deletePost(data.id)">
            </div>
        </div>
    </div>
</div>