<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div class="popup-head">
                <h1> Your Post </h1>
                <p class="status" [ngClass]="{
                    'pending-status': post.status === 'pending',
                    'approved-status': post.status === 'approved',
                    'declined-status': post.status === 'declined',
                  }"> {{ post.status }} </p>
            </div>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>


        <div class="post-content">
            <div class="declined-remarks" *ngIf="post.status === 'declined'">
                <h3> Admin declined your post </h3>
                <p> <strong>Remarks:</strong> {{ post.remarks }} </p>
            </div>

            <h4 class="publisher">{{ post.user_name }}</h4>
            <span class="date">{{ post.created_at | date: 'longDate' }} at {{ post.created_at | date: 'shortTime' }}</span>
            <div class="main-post">
                <h2>{{ post.title }}</h2>
                <span class="category">{{ post.category }}</span>
                <p [innerHTML]="formatContent(post.content)"></p>
                <div class="post-img">
                    <img [src]="post.image || '../../../../../assets/images/NoImage.png'" alt="post image">
                </div>
            </div>
        </div>

        <div class="post-footer">
            <div class="buttons">
                <input class="submit-btn" type="button" value="Edit Post" *ngIf="post.status === 'pending'" (click)="editPost(post.id)">
                <input class="danger-btn" type="button" value="Delete" (click)="deletePost()">
            </div>
        </div>
    </div>
</div>