<div class="content">
    <div class="head">
        <!-- <div class="title"> <h1> Your Posts </h1> </div> -->
        <h1> My Posts </h1>
        <div class="route-btn" routerLink="../list">
            <i class='bx bx-left-arrow-alt' ></i> <a> Users Posts </a>
        </div>
    </div>

    <div class="table-content">
        <div class="table-head">
            <div class="data-filter">
                <!-- <h2> Filter Category: </h2> -->
                <select id="filter-category">
                    <option selected value=""> All Category </option>
                    <option value="Compost"> Compost </option>
                    <option value="Plastic"> Plastic </option>
                    <option value="Rubber"> Rubber </option>
                    <option value="Wood and Paper"> Wood and Paper </option>
                    <option value="Miscellaneous Products"> Miscellaneous Products </option>
                </select>
            </div>
        </div>

        <div class="overflow">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date Approved</th>
                <td mat-cell *matCellDef="let element">{{element.date}}</td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
            
                <!-- Category Column -->
                <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">{{element.category}}</td>
                </ng-container>
            
                <!-- Title Column -->
                <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
            
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <button class="delete" (click)="deletePost()">
                        <i class='bx bx-trash'></i>
                        <span class="tooltiptext"> Delete </span>
                    </button>
                    <button class="view">
                        <i class='bx bx-detail' routerLink="../view"></i>
                        <span class="tooltiptext"> View </span>
                    </button>
                </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>
</div>