<div class="container">
    <div class="post-container">
        <div class="post-header">
            <h1> {{ post?.category || 'Uncategorized' }} Content </h1>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="post-content">
            <div class="main-post">
                <div class="upper">
                    <h2>{{ post?.title || 'Untitled' }}</h2>
                    <p class="materials">{{ formatMaterials(post?.materials) }}</p>
                </div>
                <p class="info">
                    <span class="author">{{ post?.user_name || 'Unknown' }} </span>
                    <span class="date"> • {{ post?.created_at | date:'longDate' }} at {{ post?.created_at | date: 'shortTime' }}</span>
                </p>
                <p [innerHTML]="formatContent(post?.content)"></p>
                <div class="post-img">
                    <ng-container *ngIf="post.image_type === 'image' && post.image; else videoTemplate">
                        <img alt="uploaded image" [src]="post.image" (error)="onImageError($event)">
                    </ng-container>
                      
                    <ng-template #videoTemplate>
                        <ng-container *ngIf="post.image">
                          <video controls #videoElement [poster]="post.previewImage" (loadedmetadata)="captureFirstFrame(videoElement, post)">
                            <source [src]="post.image" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="post-footer">
            <a (click)="toggleLike(post)">
                <span class="heart-btn">
                    <span>{{ post?.total_likes || 0 }}</span>
                    <i [ngClass]="post?.liked_by_user ? 'bx bxs-heart' : 'bx bx-heart'"></i>
                </span>
            </a>
        </div>
    </div>
</div>
