<main>
    <div class="header">
        <div class="bg" [ngClass]="{'hide': isLoginRoute}"></div>
        <div class="resdeapp">
            <!-- <div class="bg" [ngClass]="{'hide': isLoginRoute}"></div> -->
            <img src="../../../../assets/images/ResdeLogoTransparent.png" [ngClass]="{'hide': isLoginRoute}">
            <h1 [ngClass]="{'hide': isLoginRoute}"> Re'sIt </h1>
        </div>
        <div class="pages">
            <a routerLink="resIt-app" routerLinkActive="active-link">
                <h2> Home </h2>
            </a>
            <a routerLink="login-to-resIt" routerLinkActive="active-link">
                <h2> Login </h2>
            </a>
        </div>
    </div>

    <div class="body">
        <router-outlet></router-outlet>
    </div>
</main>