<main>
    <div class="header" [ngClass]="{'hide-header': isHeaderHidden}">
        <div class="bg"></div>
        <div class="resdeapp">
            <img src="../../../../assets/logo/ResItLogo.png">
            <h1> Re’sIt </h1>
        </div>
        <div class="pages">
            <a routerLink="resIt-app" routerLinkActive="active-link">
                <h2> Home </h2>
            </a>
            <a routerLink="/login-to-resIt" routerLinkActive="active-link">
                <h2> Login </h2>
            </a>
        </div>
    </div>

    <div class="body">
        <router-outlet></router-outlet>
    </div>
</main>