<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div class="popup-head">
                <h1> Customize Landing Page Photos </h1>
            </div>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="post-content">
            <p> Choose 5 images for landing page. (pasingit, di pa tapos mga ui about d2 sa landing page photos :>) </p>
            <input type="file" (change)="onFileSelected($event)" multiple accept="image/*" [attr.max]="5" />

            <!-- Display the latest uploaded images -->
        <div class="latest-images-container" *ngIf="latestImages.length > 0">
            <h2>Latest Uploaded Images:</h2>
            <div class="image-list">
                <div class="image-item" *ngFor="let image of latestImages">
                    <img [src]="image" alt="Latest Uploaded Image" width="100%" />
                </div>
            </div>
        </div>
        </div>

        <div class="post-footer">
            <div class="buttons">
                <input class="danger-btn" type="button" value="Remove All">
                <input class="submit-btn" type="button" value="Upload" (click)="uploadImages()">
            </div> 
        </div>
    </div>
</div>
