<div class="container">
    <div class="dialog-container">
        <div class="dialog-header">
            <h1> Terms and Conditions </h1>
            <!-- <button class="exit-button" (click)="closeDialog()"> &times; </button> -->
        </div>

        <div class="dialog-content">
            <h4 class="date">Effective Date: November 25, 2024</h4>
            <p class="termtext">
                Welcome to <span class="appname-font">Re’sIt</span>. By accessing or using our web application, 
                you agree to comply with the following Terms and Conditions. 
                Please read these terms carefully as they outline your rights and obligations when using our platform.
            </p>
            <div class="main-dialog">
                <h2>1. Acceptance of Terms</h2>
                <p>
                    By using <span class="appname-font">Re’sIt</span>, you acknowledge that you have read, understood, 
                    and agree to be bound by these Terms and Conditions. If you do not agree with these terms, 
                    you should not use our platform.
                </p>
            </div>
            <div class="main-dialog">
                <h2>2. User Account</h2>
                <p>
                    To post ideas and participate in <span class="appname-font">Re’sIt</span>, you must create an account 
                    by providing accurate personal information, including your first name, last name, email, phone number, city, 
                    and barangay. You are responsible for keeping your account credentials confidential and for any activities that occur under your account.
                </p>
            </div>
            <div class="main-dialog">
                <h2>3. User Conduct</h2>
                <p>
                    When using <span class="appname-font">Re’sIt</span>, you agree to:
                    <br>
                    <br> • Provide truthful and accurate information when registering and posting content.
                    <br> • Use the platform solely for the purpose of sharing recycling and gardening initiatives to reduce waste.
                    <br> • Refrain from posting any content that is illegal, harmful, offensive, or violates the rights of others.
                    <br> • Avoid using the platform for any commercial, fraudulent, or malicious purposes.
                    <br>
                    <br> We reserve the right to suspend or terminate your account if you violate these terms.
                </p>
            </div>
            <div class="main-dialog">
                <h2>4. Content Ownership and Responsibility</h2>
                <p>
                    <br> • <b>User-Generated Content:</b> By posting content on <span class="appname-font">Re’sIt</span>, you retain ownership of your content but grant Re'sIt a non-exclusive, royalty-free, worldwide license to use, modify, display, and distribute your content as part of the platform's functionality.
                    <br> • <b>Responsibility for Content:</b> You are solely responsible for the ideas, posts, or other content you submit. You agree not to post content that infringes on the intellectual property rights of others, contains false or misleading information, or violates any law or regulation.
                </p>
            </div>
            <div class="main-dialog">
                <h2>5. Intellectual Property</h2>
                <p>
                    All materials, including logos, text, images, and software, provided by <span class="appname-font">Re’sIt</span> 
                    are the intellectual property of <span class="appname-font">Re’sIt</span> or its licensors and are protected by copyright, trademark, 
                    and other intellectual property laws. You may not use, reproduce, distribute, 
                    or modify any content without express permission.
                </p>
            </div>
            <div class="main-dialog">
                <h2>6. Limitation of Liability</h2>
                <p>
                    <span class="appname-font">Re’sIt</span> is provided on an "as-is" and "as-available" basis. 
                    We make no warranties, either express or implied, regarding the operation or functionality of the platform. 
                    We are not liable for any damages arising from the use or inability to use the platform, including 
                    but not limited to direct, indirect, incidental, or consequential damages.
                </p>
            </div>
            <div class="main-dialog">
                <h2>7. Termination</h2>
                <p>
                    We reserve the right to suspend or terminate your account at any time 
                    if you breach these Terms and Conditions or engage in conduct that we determine to be inappropriate 
                    or harmful to the platform or other users.
                </p>
            </div>
            <div class="main-dialog">
                <h2>8. Modifications to the Terms</h2>
                <p>
                    We may update these Terms and Conditions from time to time. 
                    Any changes will be posted on this page, and your continued use of the platform after the changes 
                    are made will constitute acceptance of the new terms.
                </p>
            </div>
            <div class="main-dialog">
                <h2>9. Governing Law</h2>
                <p>
                    These Terms and Conditions are governed by and construed in accordance with the laws of Olongapo City, 
                    and you agree to submit to the exclusive jurisdiction of the courts in that region.
                </p>
            </div>
            <div class="main-dialog">
                <h2>10. Contact Information</h2>
                <p>
                    If you have any questions or concerns regarding these Terms and Conditions, please contact us at:
                    <br>
                    <br> • <b>Address:</b> Blk #12 Gordon Heigths, Olongapo City, Philippines
                    <br> • <b>Phone:&nbsp;</b> <a href="tel:+639983666893">0998 366 6893</a>
                    <br> • <b>Email:&nbsp;</b> <a href="mailto:resit.gordonheights@gmail.com">resit.gordonheights&#64;gmail.com</a>
                    <br>
                    <br> By using <span class="appname-font">Re’sIt</span>, 
                    you agree to comply with these Terms and Conditions and any future updates or changes made to them. 
                    Thank you for being a part of our community and contributing to reducing waste through recycling initiatives!
                </p>
            </div>

            <div class="buttons">
                <input class="submit-btn" type="button" value="Close" (click)="closeDialog()">
            </div>
        </div>

    
    </div>
</div>