<div class="container">
    <h1 class="appname-font" routerLink="/resIt"> Re’sIt </h1>
    <!-- FOR FORGOT PASSWORD PROCESS -->
    <div class="content forgot-password" *ngIf="!isCodeVerified">
        <h2>Forgot Your Password?</h2>
        <form (submit)="sendCode()">
            <div class="main-content">
                <p>Enter your email address below, and we’ll send you a verification code to reset your password.</p>
                <div class="input-container email">
                    <input id="email" name="email" type="email" [(ngModel)]="email" placeholder="Email" required>
                </div>
            </div>
            <div class="buttons">
                <button class="cancel-btn" type="button" (click)="confirmCancel('email')">
                    <span>Cancel</span>
                </button>
                <button class="submit-btn" type="submit">
                    <span>Send Verification Code</span>
                </button>
            </div>
        </form>
    </div>

    <!-- ENTER CODE FOR RESET PASSWORD -->
    <div *ngIf="enterCodePopup && !isCodeVerified" class="popup-overlay">
        <div class="popup-container" (click)="$event.stopPropagation()">
            <div class="popup-content">
                <h2>Enter security code</h2>
                <form (submit)="verifyCode()">
                    <div class="popmain-content">
                        <p>Please check your email {{ email }} for a message with your code. Your code is 6 numbers long.</p>
                        <div class="input-container">
                            <input type="text" name="verificationCode" [(ngModel)]="verificationCode" placeholder="Enter code" required>
                        </div>
                        <p class="forcode"> Didn’t get the code? <a class="resend-btn" (click)="sendCode()">Request Another Code</a></p>
                    </div>
                    <div class="buttons">
                        <button class="cancel-btn" type="button" (click)="confirmCancel('code')">
                            <span>Cancel</span>
                        </button>
                        <button class="submit-btn" type="submit">
                            <span>Verify Code</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- CREATE NEW PASSWORD -->
    <div class="content reset-password" *ngIf="isCodeVerified">
        <h2>Create A Strong Password</h2>
        <form (submit)="resetPassword()" #resetForm="ngForm">
            <div class="main-content">
                <div class="password-container">
                    <input [(ngModel)]="newPassword" name="newPassword" [type]="newpassVisible ? 'text' : 'password'" placeholder="New password" (input)="validatePassword()" required>
                    <i id="show-hide" class="bx" [class.bx-show]="newpassVisible" [class.bx-hide]="!newpassVisible" (click)="toggleNewPassVisibility()"></i>
                    <!-- Display password error messages -->
                    <span class="errorMessage" *ngIf="passwordErrors.required">Password is required.</span>
                    <span class="errorMessage" *ngIf="passwordErrors.length">Password must be at least 8 characters long.</span>
                    <span class="errorMessage" *ngIf="passwordErrors.capital">Password must include at least one capital letter (A-Z).</span>
                    <span class="errorMessage" *ngIf="passwordErrors.lowercase">Password must include at least one small letter (a-z).</span>
                    <span class="errorMessage" *ngIf="passwordErrors.number">Password must include at least one number (0-9).</span>
                    <span class="errorMessage" *ngIf="passwordErrors.special">Password must include at least one special character (e.g., ! &#64; # $ % ^ & *).</span>
                </div>
                <div class="password-container">
                    <input [(ngModel)]="confirmNewPassword" name="confirmNewPassword" [type]="confirmnewpassVisible ? 'text' : 'password'" placeholder="Confirm new password" #passwordConfirmation="ngModel" required>
                    <i id="show-hide" class="bx" [class.bx-show]="confirmnewpassVisible" [class.bx-hide]="!confirmnewpassVisible" (click)="toggleConfirmNewPassVisibility()"></i>
                    <!-- Display password confirmation error messages -->
                    <span *ngIf="passwordConfirmation.touched && confirmNewPassword !== newPassword" class="errorMessage">Passwords do not match.</span>
                </div>
            </div>

            <!-- Hidden Email Field -->
            <input type="hidden" [(ngModel)]="email" name="email"/>

            <div class="buttons">
                <button class="submit-btn" type="submit">
                    <span>Reset Password</span>
                </button>
            </div>
        </form>
    </div>
</div>