.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-dark);
}

.appname-font {
    position: absolute;
    color: var(--primary-green);
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container);
    width: 500px;
    height: auto;
    padding: 30px 0;
    border-radius: 10px;

    box-shadow:  10px 10px 20px #d5cfc8, -10px -10px 20px #fffdf4;
    transition: all 0.3s ease-in-out;
    animation: popIn 0.3s forwards;

    h2 {
        width: 100%;
        text-align: left;
        padding: 0 30px 20px 30px;
    }

    .main-content {
        padding: 20px 0;
        border-top: 1px solid var(--cont-input-border);
        border-bottom: 1px solid var(--cont-input-border);

        p {
            padding: 0 30px;
        }
    }

    form {
        width: 100%;
        padding: 0;

        .input-container {
            width: 100%;
            padding: 10px 30px;
            position: relative;

            input[type="email"] {
                font-family: 'Poppins';
                display: block;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                border-radius: 10px;
                border: 2px solid transparent;
                outline: none;
                background: var(--cont-input);
                padding: 15px;
                font-size: 15px;
                font-weight: 400;
                box-shadow: 0px 1px 1px rgb(141, 141, 141);
                transition: all 0.2s ease;
            }

            input:focus {
                outline: none;
                border: 2px solid var(--secondary-green);
                background-color: var(--cont-input-hover);
            }

            i { position: absolute; }
        }

        .buttons {
            gap: 15px;
            padding: 0 30px;
            margin-top: 30px;

            .cancel-btn {
                width: 120px;
            }

            .submit-btn {
                width: 200px;
            }
        }
    }
}

/* Style for popup overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Style for the popup container */
.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 30px 0;
    width: 550px;

    transition: all 0.3s ease-in-out;
    animation: popIn 0.3s forwards;

    .popup-content {
        h2 {
            width: 500px;
            text-align: left;
            padding: 0 30px 20px 30px;
        }
        
        .popmain-content {
            padding: 20px 0;
            border-top: 1px solid var(--bg-dark);
            border-bottom: 1px solid var(--bg-dark);
    
            p {
                padding: 0 30px;
            }
    
            .forcode {
                font-size: 14px;
            }
        }
    
        form {
            width: 100%;
            padding: 0;
    
            .input-container {
                width: 100%;
                padding: 20px 30px;
                position: relative;
    
                input[type="text"] {
                    font-family: 'Poppins';
                    display: block;
                    width: 70%;
                    height: auto;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: 2px solid var(--secondary-green);
                    outline: none;
                    background: var(--cont-input);
                    padding: 15px;
                    font-size: 15px;
                    font-weight: 400;
                    box-shadow: 0px 1px 1px rgb(141, 141, 141);
                    transition: all 0.2s ease;
                }
    
                input:focus {
                    outline: none;
                    border: 2px solid var(--secondary-hover);
                    background-color: var(--cont-input-hover);
                }
            }
    
            .buttons {
                gap: 15px;
                padding: 0 30px;
                margin-top: 30px;
    
                .submit-btn,
                .cancel-btn {
                    width: 120px;
                }
            }
        }
    
        a {
            color: var(--primary-green);
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.reset-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container);
    width: 400px;
    height: auto;
    padding: 30px 0;
    border-radius: 10px;

    box-shadow:  10px 10px 20px #d5cfc8, -10px -10px 20px #fffdf4;
    transition: all 0.3s ease-in-out;
    animation: popIn 0.3s forwards;

    h2 {
        width: 400px;
        text-align: center;
        padding: 0 30px 20px 30px;
    }
    
    .main-content {
        padding: 20px 0;
        border-top: 1px solid var(--bg-dark);
        border-bottom: 1px solid var(--bg-dark);

        p {
            padding: 0 30px;
        }

        .forcode {
            font-size: 14px;
        }
    }

    form {
        width: 100%;
        padding: 0;

        .password-container {
            width: 100%;
            padding: 20px 30px;
            position: relative;
    
            input[type="password"],
            input[type="text"] {
                font-family: 'Poppins';
                display: block;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                border-radius: 10px;
                border: 2px solid var(--secondary-green);
                outline: none;
                background: var(--cont-input);
                padding: 15px;
                font-size: 15px;
                font-weight: 400;
                box-shadow: 0px 1px 1px rgb(141, 141, 141);
                transition: all 0.2s ease;
            }
    
            input:focus {
                outline: none;
                border: 2px solid var(--secondary-hover);
                background-color: var(--cont-input-hover);
            }
    
            #show-hide {
                position: absolute;
                margin-top: -26px;
                transform: translateY(-50%);
                right: 50px;
                font-size: 22px;
                cursor: pointer;
                color: var(--primary-hover);
                transition: color 0.3s ease;
    
                &:hover {
                    color: var(--primary-hover);
                }
            }
        }

        .buttons {
            padding: 0 30px;
            margin-top: 30px;

            .submit-btn,
            .cancel-btn {
                width: 150px;
            }
        }
    }
}

.errorMessage {
    display: flex;
    color: var(--red-btn);
    font-size: 12px;
    margin-left: 10px;
    padding-top: 5px;
}

@media (max-width: 500px) {
    .forgot-password {
        width: 90%;
    }

    .popup-container {
        width: 90%;
        .popup-content {
            h2 { width: 80%; }
            form {
                .input-container {
                    input[type="text"] {
                        width: 100%;
                    }
                }
            }
        }
    }

    .reset-password {
        width: 90%;
    }
}