<div class="content">
    <div class="head"> 
        <h1> Activity Logs </h1>
    </div>


    <div class="table-content">
        <div class="card-header">
            <a routerLink="../dashboard"> Dashboard <span> <i class='bx bxs-home'></i> </span> </a>
        </div>

            <div class="filters">
                <div class="selects">

                    <input type="text" placeholder="Search by Name or Action..." (input)="onSearchChange($event)" class="search-input">

                    <select id="filter-category" (change)="onCategoryChange($event)">
                        <option selected value=""> All Users </option>
                        <option value="admin">Admin</option>
                        <option value="Environmental Admin">Environmental Admin</option>
                        <option value="Sk Admin">Sk Admin</option>
                        <option value="user">User</option>
                    </select>

                    <select id="filter-status" (change)="onStatusChange($event)">
                        <option selected value=""> All Action </option>
                        <option value="logged in">Logged In</option>
                        <option value="logged out">Logged Out</option>
                        <option value="Community Feed">Community Feed</option>
                    </select>
                </div>
              </div>

              <br>
            
        <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
            <!-- Date Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                <td mat-cell *matCellDef="let element">{{ element.timestamp | date:'medium' }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.first_name }} {{ element.last_name }}</td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">{{ element.role }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">{{ element.action }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>

</div>