<div class="container" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay}">
    <!-- SIDEBAR CONTENT -->
    <nav class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay}">
      <div class="userInfo">
        <div class="userImg">
          <img src="assets/logo/GordonHeights.png">
        </div>
        <div class="userName">
          <h1> {{ name }} </h1>
        </div>

        <button class="menu-icon-button" (click)="toggleSidebar()">
            <i *ngIf="!isSidebarToggled" class='bx bx-chevrons-left'></i>
            <i *ngIf="isSidebarToggled" class='bx bx-chevrons-right'></i>
        </button>
      </div>
  
      <div class="sidebar-content">
        <ul class="sidebarTabs">
          <li class="sidebarTab">
            <a class="tablink" routerLink="green-module" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class="bx bx-home"></i> </span>
              <span class="tab-link-name"> My Barangay </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-world'></i> </span>
              <span class="tab-link-name"> Community Feed </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="likes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class='bx bx-heart' ></i> </span>
              <span class="tab-link-name"> Liked Posts </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="uploads" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-customize' ></i> </span>
              <span class="tab-link-name"> Your Posts </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="user-info" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-user-circle'></i> </span>
              <span class="tab-link-name"> Profile </span>
            </a>
          </li>
        </ul>
  
        <div class="logoutbtn">
          <div class="logout" (click)="logoutPopup()">
            <span> <i class='bx bx-log-out-circle'></i> 
                <app-logout *ngIf="showPopup" (closedPopup)="closePopup()"></app-logout>
            </span>
          </div>
        </div>
      </div>
    </nav>

    <!-- BOTTOM NAV FOR MOBILE BROWSER -->
    <div class="bottom-nav" [ngClass]="{'hide-bottom-nav': isBottomNavHidden}">
      <div class="nav-item" routerLink="home" routerLinkActive="active-link">
        <i class="bx bx-home"></i>
        <span>Feed</span>
      </div>
      <div class="nav-item" routerLink="likes" routerLinkActive="active-link">
        <i class='bx bx-heart'></i>
        <span>Liked</span>
      </div>
      <div class="nav-item" routerLink="uploads" routerLinkActive="active-link">
        <i class='bx bx-customize'></i>
        <span>Posts</span>
      </div>
      <div class="nav-item" routerLink="green-module" routerLinkActive="active-link">
        <i class='bx bx-book-content'></i>
        <span>Module</span>
      </div>
      <div class="nav-item" routerLink="user-info" routerLinkActive="active-link">
        <i class='bx bx-user-circle'></i>
        <span>Profile</span>
      </div>
    </div>
</div>

<div class="sidebar-overlay" [ngClass]="{'visible': !isSidebarCollapsed}" (click)="toggleSidebar()"></div>

<!-- MAIN CONTENT -->
<div class="main-content" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay, 'blurred': isSidebarOverlay}">
    <!-- HEADER -->
    <nav class="header" [ngClass]="{'hide-header': isHeaderHidden}">
      <div class="appname">
        <button class="menu-icon-button" (click)="toggleSidebar()">
          <i class='bx bx-menu'></i>
        </button>
        <h2> Re’sIt </h2>
      </div>

      <div class="logout" (click)="logoutPopup()">
        <span> <i class='bx bx-log-out-circle'> <p> Logout </p> </i>
            <app-logout *ngIf="showPopup" (closedPopup)="closePopup()"></app-logout>
        </span>
      </div>
      <img class="resitlogo" src="assets/logo/ResItLogo.png">
    </nav>
    
    <!-- MAIN BODY CONTENT -->
    <div class="body-content">
      <div class="admin-container"> <router-outlet></router-outlet> </div>
    </div>
</div>