<div class="content">
    <div class="container">
        <div class="head">
            <h1> Post Announcement </h1>
        </div>
        <form class="form-group" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <div class="input-row">
                    <div class="input-field">
                        <label class="labelline"> Title </label>
                        <input class="txt-field" type="text" formControlName="title" maxlength="50" [disabled]="wordCount >= maxWords">
                        
                        <div *ngIf="postForm.get('title')?.hasError('wordLimit') && postForm.get('title')?.touched" class="error">
                            Title cannot exceed 5 words.
                        </div>
                        
                        <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="error">
                            Title is required.
                        </div>
                        
                        <!-- Word count display always visible below the input -->
                        <div class="word-count">
                            Word count: {{ wordCount }} / {{ maxWords }}
                        </div>
                    </div>
                    
    
                    <div class="input-field">
                        <label class="up-labelline"> Upload Photo </label>
                        <input class="file-field" type="file" (change)="onFileSelected($event)">
                        <div *ngIf="(!image && postForm.get('image')?.invalid) && postForm.get('image')?.touched" class="error">
                            Image is required.
                          </div>
                    </div>
                </div>
    
                <div class="input-row2">
                    <div class="input-field">
                        <label class="labelline"> Description </label>
                        <textarea class="txtarea-field" formControlName="description" placeholder="Description of your post idea..."></textarea>
                        <div *ngIf="postForm.get('description')?.invalid && postForm.get('description')?.touched" class="error">
                            Description is required.
                        </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-field">
                        <label class="labelline">Expiration Date</label>
                        <input class="txt-field" type="datetime-local" formControlName="expires_at">
                        <div *ngIf="postForm.get('expires_at')?.invalid && postForm.get('expires_at')?.touched" class="error">
                            Expiration date is required.
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="input-row3">
                <div class="input-field-short">
                    <label class="up-labelline"> Upload Photo </label>
                    <input class="file-field" type="file" (change)="onFileSelected($event)">
                    <div *ngIf="(!image && postForm.get('image')?.invalid) && postForm.get('image')?.touched" class="error">
                        Image is required.
                      </div>
                </div>
            </div> -->

            <div class="announcebuttons">
                <input class="cancel-btn" type="button" value="Cancel" (click)="cancelPopup()">
                <input class="submit-btn" type="submit" value="Upload" [disabled]="postForm.invalid">
            </div>

        </form>
    </div>

    <div class="table-content">
        <div class="table-head">
            
            <form class="date">
                <div class="date-filter">
                    <div class="txt_field">
                      <label for="filter-from-date">From Date</label>
                      <input type="date" id="filter-from-date" (change)="onDateChange($event, 'from')" />
                    </div>
                    <div class="txt_field">
                      <label for="filter-to-date">To Date</label>
                      <input type="date" id="filter-to-date" (change)="onDateChange($event, 'to')" />
                    </div>
                </div>
            </form>

        </div>

        <div class="head1">
            <h1> Announcements </h1>
        </div>

        <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.created_at | date:'dd-MM-yyyy'}}</td>
            </ng-container>

             <!-- Title Column -->
            <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">
                {{element.title | slice:0:20}} 
                <span *ngIf="element.title.length > 20">...</span> 
            </td>
            </ng-container>

            <!-- Content Column -->
            <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef>Content</th>
            <td mat-cell *matCellDef="let element">
                {{element.description | slice:0:50}}
                <span *ngIf="element.description.length > 50">...</span> 
            </td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="actions">
                <button class="delete" (click)="removeannouncement(element.id)">
                    <i class='bx bx-no-entry'></i>
                    <span class="tooltiptext"> Delete </span>
                </button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>
</div>
