<div class="content">
    <div class="container">
        <button class="exit-button" routerLink="../list-of-posts"> &times; <span class="exit-tooltip"> Exit </span> </button>
        <div class="user-post">
            <!-- POST TITLE -->
            <h1> Build hardware cloth or chicken wire compost bin </h1>

            <div class="publisher-name">
                <span> Czarina Jane Arellano </span>
            </div>
            
            <div class="category-time">
                <span class="blog-category">Compost Bin</span>
                <span class="published-time"> 16-08-2021 </span>
            </div>

            <div class="post-content">
                <div class="postcontent">
                    <img alt="blog" src="../../../../../assets/images/NoImage.png">
                </div>
                <div class="postcontent">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis bibendum ut tristique et. Dui faucibus in ornare quam viverra orci sagittis eu. Urna et pharetra pharetra massa. Urna cursus eget nunc scelerisque viverra mauris in. </p>
                </div>
            </div>

            <div class="buttons">
                <input class="submit-btn" type="button" value="Approve Post" (click)="approvePost()">
                <input class="danger-btn" type="button" value="Decline" (click)="declinePost()">
            </div>

        </div>
    </div>
</div>