<div class="content">
    <div class="head-page">
        <div class="back" routerLink="../list"> <i class='bx bx-chevron-left' ></i> <h3> List </h3> </div>
        <div class="page-content"> <h2> Pending Post </h2> </div>
    </div>
    <div class="container">
        <!-- <button class="exit-button" routerLink="../list-of-posts"> &times; <span class="exit-tooltip"> Exit </span> </button> -->
        <div class="user-post">
            <!-- POST TITLE -->
            <h1> {{post?.title}} </h1>

            <div class="publisher-name">
                <span> {{post?.user_name}}  </span>
            </div>
            
            <div class="category-time">
                <span class="blog-category">{{ post?.category | titlecase }}</span>
                <span class="published-time">{{ post?.created_at | date: 'dd-MM-yyyy' }}</span>
            </div>

            <div class="post-content">
                <div class="post-image">
                    <img [src]="post.image || '../../../../../assets/images/NoImage.png'" alt="post image">
                </div>
                <div class="postcontent">
                    <p>{{ post?.content }}</p>
                </div>
            </div>

            <div class="buttons">
                <input class="submit-btn" type="button" value="Approve Post" (click)="approvePost()">
                <input class="danger-btn" type="button" value="Decline" (click)="declinePost()">
            </div>

        </div>
    </div>
</div>