<div class="content">
  <div class="head">
    <h1>Liked Posts</h1>
    <p>All posts you liked from other users.</p>
  </div>

  <!-- Skeleton Loader -->
  <div *ngIf="isLoading" class="slit-screen">
    <!-- Left skeleton loader -->
    <div class="left-skeleton skeleton">
      <div class="skeleton-title"></div>
      <div class="skeleton-info"></div>
      <div class="skeleton-info"></div>
      <div class="skeleton-image"></div>
    </div>

    <!-- Right skeleton loader -->
    <div class="right-container">
      <div class="data-container skeleton" *ngFor="let n of [1,2,3,4]">
        <div class="post-image skeleton-image"></div>
        <div class="info">
          <div class="skeleton-title"></div>
          <div class="skeleton-info"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Display message if no liked posts -->
  <div *ngIf="!isLoading && items.length === 0" class="no-sign">
    <div class="no-clipart">
      <img src="../../../../assets/images/NoLiked.png">
    </div>
  </div>

  <!-- Display liked posts when loaded -->
  <div *ngIf="!isLoading && items.length > 0" class="slit-screen">
    <!-- Left container -->
    <div class="left-container" *ngIf="selectedItem.title" style="--delay: 0.1s;">
      <div class="upper">
        <h2>{{ selectedItem.title }}</h2>
        <p class="materials">{{ formatMaterials(selectedItem.materials) }}</p>
      </div>
      <p class="info">
        <span class="author">{{ selectedItem.author }} • </span>
        <span class="category">{{ selectedItem.category }}</span>
        <span class="date"> • {{ selectedItem.post_date | date:'longDate' }} at {{ selectedItem.post_date | date:'shortTime' }}</span>
      </p>
      <p class="description" [innerHTML]="formatContent(selectedItem.description)"></p>
      <img [src]="selectedItem.image" alt="Image" class="main-image" (error)="onImageError($event)"/>

      <a (click)="toggleLike(selectedItem, $event)">
        <span class="heart-btn">
          <span>{{ selectedItem.total_likes }}</span>
          <i class="bx" [ngClass]="selectedItem.liked ? 'bx-heart' : 'bxs-heart'"></i>
        </span>
      </a>
    </div>

    <!-- Right container -->
    <div class="right-container">
      <div
      *ngFor="let item of paginatedItems; let i = index"
        (click)="selectItem(item)"
        class="data-container"
        [style.--delay]="(i + 1) * 0.2 + 's'"
      >
        <div class="post-image">
          <img [src]="item.image" alt="Small Image" class="small-image" (error)="onImageError($event)"/>
        </div>
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="category">{{ item.category }}</p>
          <p class="author">{{ item.author }}</p>
          <p class="date">{{ item.post_date | date:'mediumDate' }} at {{ item.post_date | date:'shortTime' }}</p>
        </div>
        <a (click)="toggleLike(item, $event)">
          <span class="heart-btn">
            <span>{{ item.total_likes }}</span>
            <i class="bx" [ngClass]="item.liked ? 'bx-heart' : 'bxs-heart'"></i>
          </span>
        </a>        
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination" *ngIf="items.length > 5">
    <span>Page {{ currentPage }} of {{ getTotalPages() }}</span>
    <button class="paginator-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="paginator-btn" (click)="nextPage()" [disabled]="currentPage * pageSize >= items.length">Next</button>
  </div>
</div>
