.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.float-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-green);
    border-radius: 50%;
    padding: 23px 23px 20px 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 999;

    overflow: hidden; /* Hide the label when not hovered */

    i {
        color: var(--bg-color);
        font-size: 24px;
    }

    &:hover {
        overflow: visible;

    }
}

.label {
    position: absolute;
    background-color: var(--primary-green);
    color: #fff;
    padding: 7px 20px;
    bottom: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(100%); /* Hide the label to the right */
    transition: all 0.3s ease;
}

/* On hover, reveal the label */
.float-icon:hover .label {
    opacity: 1;
    transform: translateX(-110%); /* Move the label to the left */
}

.events {
    display: flex;
    flex-direction: column;
    right: 0;
    position: fixed;
    // background-color: var(--bg-dark);
    height: 50px;
    width: 500px;
    transition: all 0.3s ease-in;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(27, 31, 35, 0.04) 0px 2px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
        padding: 20px 30px;
        top: 0;

        .titlehead {
            display: flex;
            gap: 5px;
            align-items: center;

            i {
                color: black;
                font-size: 24px;
            }
        }

        .arrow-icon {
            display: none;
        }
    }

    .scroll-cards {
        min-height: 100vh;
        max-height: 90vh;
        overflow-X: auto;

        .cards {
            padding: 20px 30px 130px 30px;
            margin-bottom: 100px;
        }
    }

    .ev-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ev-card {
            display: flex;
            gap: 20px;
            background-color: white;
            width: 100%;
            padding: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: var(--white);
            }

            .ev-img {
                height: 120px;
                width: 120px;
                background-color: #929292;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .ev-details {
                flex-basis: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 { 
                    font-size: 20px; 
                    text-decoration: none;
                    display: -webkit-box;
                    display: -moz-box; 
                    display: -ms-box;
                    display: box;
                    -webkit-line-clamp: 1;
                    -moz-line-clamp: 1;
                    -ms-line-clamp: 1;
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -ms-box-orient: vertical;
                    box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-height: 1.5;
                    letter-spacing: 0.5px;
                    max-height: calc(1.5em * 1); 
                }

                p {
                    font-size: 14px;
                    padding: 5px 0;
                    text-decoration: none;
                    display: -webkit-box;
                    display: -moz-box; 
                    display: -ms-box;
                    display: box;
                    -webkit-line-clamp: 2;
                    -moz-line-clamp: 2;
                    -ms-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    -ms-box-orient: vertical;
                    box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-height: 1.5;
                    max-height: calc(1.5em * 2); 
                }

                .date {
                    font-size: 12px;
                    font-weight: 300;
                    margin-top: 10px;
                }
            }
        }
    }
}

// SCROLLBAR //
.scroll-cards::-webkit-scrollbar {
    width: 7px; /* Shows scrollbar on hover */
}

.scroll-cards::-webkit-scrollbar-thumb {
    background-color: var(--primary-green);
    border-radius: 5px;
}

.scroll-cards::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    margin-bottom: 100px;
}

.scroll-cards::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-green);
}
// END OF SCROLLBAR //

.post-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        color: var(--dark-green);
        padding-bottom: 10px;
    }
    
    h3 {
        font-family: 'Poppins';
        font-size: 32px;
        color: #2b2b2b;
        font-weight: 700;
        text-align: center;
    }
}

.allposts {
    padding: 40px 530px 40px 40px;
    width: 100%;
    position: relative;
}

/* USER POST CONTAINER */
.post-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 30px;
}

/* POST CONTENT */
.post-box {
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    animation: slideInBottom 0.5s ease-out;

    .menu-dropdown {
        position: absolute;
        z-index: 2; 
        right: 0;
        top: 0;
        padding: 10px;

        .dropdown-toggle {
            all: unset;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            i {
                font-size: 24px;
                padding: 3px 5px;
                border-radius: 10px;
                background-color: var(--bg-color);

                &:hover {
                    background-color: var(--white-hover);
                }
    
                &:active {
                    transform: translateY(0.1em);
                    background-color: var(--gray-btn);
                }
            }
        }

        .dropdown-menu {
            position: absolute;
            right: 0;
            margin-right: 10px;
            background: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            min-width: 150px;
            display: flex;
            flex-direction: column;
            z-index: 100;
        
            .menu {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 10px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                i {
                    color: #202020;
                    transition: all 0.3s ease-in-out;
                    font-size: 20px;
                }

                a {
                    text-decoration: none;
                    color: #202020;
                    display: block;
                    transition: all 0.3s ease-in-out;
                    font-size: 15px;
                }

                &:hover {
                    border-radius: 5px;
                    background-color: var(--primary-green);
                    
                    i, a {
                        color: white;
                    }
                }
            }

            .update {
                i, a {
                    color: var(--primary-green);
                }
                
                &:hover {
                    border-radius: 5px;
                    background-color: var(--primary-green);
                    
                    i, a {
                        color: white;
                    }
                }
            }

            .danger {
                i, a {
                    color: var(--red-btn);
                }
                
                &:hover {
                    border-radius: 5px;
                    background-color: var(--red-btn);
                    
                    i, a {
                        color: white;
                    }
                }
            }
        }
    }

    .post-img {
        display: flex;
        width: 100%;
        position: relative;
        background-color: #929292;
        
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
            align-content: center;
        }

        .category {
            text-transform: capitalize;
            color: white;
            position: absolute;
            left: 10px;
            top: 10px;
            padding: 2px 10px 2px 10px;
            font-size: 0.8rem;
            background-color: var(--secondary-hover);
            border-radius: 5px;
        }
    }

    .post-text {
        strong {
            display: flex;
            font-size: 18px;
            color: #0f0f0f;
            font-weight: 400;
            margin: 10px 0px;
            line-height: 20px;
            font-family: 'Poppins';
        }

        .category-time {
            align-items: center;
            margin-bottom: 1%;
    
            span {
                font-size: 0.8rem;
            }

            .post-category {
                padding: 2px 6px 2px 6px;
                color: #9b9b9b;
                font-weight: 500;
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 5px;
                margin-right: 8px;
                text-transform: capitalize;
            }
            
            .published-time {
                color: var(--primary-hover);
                font-weight: 500;
            }
        }

        .publisher-name {
            color: var(--secondary-hover);
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            font-weight: 500;
            margin-bottom: 5%;
        }

        a {
            text-decoration: none;
        }

        .title {
            font-weight: 600;
            text-decoration: none;
            display: -webkit-box;
            display: -moz-box; 
            display: -ms-box;
            display: box;
            -webkit-line-clamp: 1;
            -moz-line-clamp: 1;
            -ms-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.5;
            letter-spacing: 0.5px;
            max-height: calc(1.5em * 1); 
        }
        
        .get {
            font-size: 14px;
            padding: 4px 10px 4px 10px;
            color: white;
            font-weight: 500;
            background-color: var(--primary-green);
            border-radius: 3px;
            cursor: pointer;
        }
        
        .get:hover {
            color: white;
            background-color: var(--primary-hover);
        }
        
        .heart-btn {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            outline: none;
            display: flex;
            align-items: center;
            gap: 3px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: #484848;
            }
          
            i {
              color: gray; 
              transition: color 0.3s ease;
            }
          
            i {
              color: var(--red-btn); 
            }      
        }
    }
}

.post-box:hover {
    background-color: var(--white);
    transform: scale(1.03);
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
    .paginator-btn {
        font-family: 'Poppins';
        padding: 5px 10px;
        color: white;
        background-color: var(--primary-green);
        outline: none;
        border: none;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &[disabled] {
            background-color: var(--gray-hover);
            cursor: not-allowed;
            box-shadow: none;
            
            &:hover {
                background-color: var(--gray-hover);
            }
        }

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

/* MEDIA SCREEN */
@media(max-width:1550px) {
    .events {
        width: 450px;
    }

    .allposts {
        padding: 40px 480px 40px 40px;
    }

    .post-container {
        grid-template-columns: 1fr 1fr;

        .post-box {
            width: 100%;
        }
    }
}
 
@media(max-width:1200px){
    .post-container {
        grid-template-columns: 1fr;

        .post-box {
            width: 100%;
        }
    }
}

@media (max-width:800px) {
    .allposts {
        padding: 30px;
    }

    .post-heading {
        padding-top: 60px;
        span {
            padding-bottom: 0;
        }
        
        h3 {
            font-size: 26px;
        }
    }

    .events {
        transition: all 0.3s ease;
        width: 100%;

        .head {
            background-color: var(--bg-dark);
            cursor: pointer;

            .titlehead {
                display: flex;
                gap: 5px;
                align-items: center;
    
                i {
                    color: black;
                    font-size: 22px;
                }

                h2 { font-size: 22px; }
            }

            .arrow-icon {
                display: flex;

                i {
                    color: black;
                    font-size: 24px;
                }
            }
        }
        
        .scroll-cards {
            display: block;
            width: 100%;
            background-color: var(--bg-dark);
        }
    
        .scroll-cards.hidden {
            transform: translateY(-500%);
        }

        .ev-cards {
            padding: 10px 20px 120px 20px;
            margin-bottom: 100px;

            .ev-card {
                width: 100%;
                .ev-details {
                    flex-basis: 80%;
                }
            }
        }
    }

    .up-event {
        transition: transform 0.3s ease, top 0.3s ease;
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        z-index: 1000;
    }
}

@media (max-width: 500px) {
    .events {
        .ev-cards {
            .ev-card {
                .ev-details {
                    flex-basis: 60%;
                }
            }
        }
    }
}

@media (max-width:480px) {
    .float-icon {
        bottom: 80px;
    }

    .down-icon {
        transition: transform 0.3s ease, top 0.3s ease;
        bottom: 20px;
    }
}

@media (max-width: 400px) {
    .allposts {
        padding: 30px 20px;
    }

    .post-heading {
        h3 {
            font-size: 24px;
        }
    }

    .post-box {
        background-color: white;
        transform: unset;
    }

    .post-box:hover {
        background-color: white;
        transform: unset;
    }
}

//For loader
.skeleton-loader {
    animation: pulse 1.5s infinite;

    .image-placeholder {
        height: 250px;
        background: #e0e0e0;
        border-radius: 5px;
    }

    .category-placeholder {
        width: 80px;
        height: 20px;
        background: #d0d0d0;
        margin-top: 8px;
        margin-left: 8px;
        border-radius: 5px;
    }

    .title-placeholder {
        height: 20px;
        background: #c0c0c0;
        margin-top: 15px;
        border-radius: 5px;
    }

    .category-time-placeholder,
    .publisher-placeholder {
        height: 15px;
        background: #e0e0e0;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@keyframes pulse {
    0% {
    background-color: #f0f0f0;
    }
    50% {
    background-color: #e0e0e0;
    }
    100% {
    background-color: #f0f0f0;
    }

    
}

.data-search{
    margin-bottom: 1px;
    display: flex;
    justify-content: flex-start; 
    padding: 10px 0;
  }
  .search-input {
    width: 320px; 
    padding: 6px 12px;
    border: 2px solid var(--secondary-green);
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
  
    &:focus {
        border-color: var(--primary-green);
    }
  
    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}



// report modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 30px;
    width: 450px;
    border-radius: 5px;
    text-align: center;
    z-index: 1001;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.checkbox-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;

        input {
            display: none;

            &:checked + span {
                background-color: #e8c2c290;
                color: var(--red-hover);
                border-color: var(--red-btn); 
            }
        }

        span {
            flex-grow: 1; // Let text fill space
            background-color: var(--bg-color);
            border: 2px solid var(--bg-dark);
            border-radius: 5px;
            padding: 10px 15px;
            transition: background-color 0.3s, border-color 0.3s;

            &:hover {
                background-color: var(--white);
            }
        }
    }
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn.cancel {
    background-color: transparent;
    border: 1px solid var(--gray-btn);

    &:hover {
        background-color: var(--gray-btn);
    }
}

.btn.report {
    background-color: var(--red-btn);
    color: white;

    &:hover {
        background-color: var(--red-hover);
    }
}

.btn.report:disabled {
    background: #ffb3b3;
    cursor: not-allowed;
}
