<div class="main">
  <div class="container">
    <div class="allposts">

      <!-- UPLOAD POST -->
      <div class="float-icon" (click)="uploadIdea()" [ngClass]="{'down-icon': downUploadIcon}">
        <span class="label">Create Content</span>
        <i class='bx bx-pencil' ></i>
      </div>

      <div class="post-heading">
        <span> Recent Posts </span>
        <!-- <h3> Recycled Garden Gallery </h3> -->
      </div>

      <div class="filters">
        <div class="selects">
          <select id="filter-category" (change)="filterPosts($event)">
            <option selected value=""> All Category </option>
            <option value="Reduce">Reduce</option>
            <option value="Reuse">Reuse</option>
            <option value="Recycle">Recycle</option>
            <!-- <option value="Gardening">Gardening</option> -->
          </select>
        </div>

        <div class="data-search">
          <input 
            type="text" 
            placeholder="Search..." 
            [(ngModel)]="searchText" 
            (input)="applyFilters()"
            class="search-input"
          />
        </div>
      </div>

      <!-- No posts available message -->
      <div *ngIf="!isLoading && filteredPosts.length === 0" class="no-sign">
        <div class="no-clipart">
          <img src="../../../../assets/images/NoPosts.png">
        </div>
      </div>
    
      <div class="post-container">
        <!-- Show skeleton loaders while posts are loading -->
        <ng-container *ngIf="isLoading">
          <div class="post-box skeleton-loader" *ngFor="let loader of loaders">
            <div class="post-img">
              <div class="image-placeholder"></div>
              <span class="category-placeholder"></span>
            </div>
            <div class="post-text">
              <div class="title-placeholder"></div>
              <div class="category-time-placeholder"></div>
              <div class="publisher-placeholder"></div>
            </div>
          </div>
        </ng-container>

        <!-- Dynamically render posts once loaded -->
        <ng-container *ngIf="!isLoading && filteredPosts.length > 0">
        <div *ngFor="let post of paginatedPosts" class="post-box">
          <!-- <div class="menu-dropdown" (click)="toggleMenu($event, post.id)">
            <button class="dropdown-toggle">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>
        
            <div class="dropdown-menu" *ngIf="menuVisiblePostId === post.id && !isUserDisabled()">
              <div class="menu update" *ngIf="post.user_id === loggedInUserId" (click)="editPost(post.id)">
                <i class='bx bx-edit'></i>
                <a>Edit Post</a>
              </div>
              <div class="menu danger" *ngIf="post.user_id === loggedInUserId" (click)="deletePost(post.id)">
                <i class='bx bxs-trash'></i>
                <a>Delete Post</a>
              </div>
          
              <div class="menu danger" *ngIf="post.user_id !== loggedInUserId" (click)="openReportModal(post.id)">
                <i class='bx bxs-message-alt-error'></i>
                <a>Report Post</a>
              </div>
            </div>
          </div>  -->
          
          <div class="menu-dropdown" (click)="toggleMenu($event, post.id, post)">
            <button class="dropdown-toggle" *ngIf="!isPostAuthorDisabled(post)">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>

            <div class="dropdown-menu" *ngIf="menuVisiblePostId === post.id && !isPostAuthorDisabled(post)">
              <div class="menu update" *ngIf="post.user_id === loggedInUserId" (click)="editPost(post.id)">
                <i class='bx bx-edit'></i>
                <a>Edit Post</a>
              </div>
              <div class="menu danger" *ngIf="post.user_id === loggedInUserId" (click)="deletePost(post.id)">
                <i class='bx bxs-trash'></i>
                <a>Delete Post</a>
              </div>

              <!-- if yung post is hindi kay user na nakalog in -->
              <div class="menu danger" *ngIf="post.user_id !== loggedInUserId" (click)="openReportModal(post.id)">
                <i class='bx bxs-message-alt-error'></i>
                <a>Report Post</a>
              </div>
            </div>
          </div>


          <div class="post-img" (click)="viewPost(post.id)">
            <ng-container *ngIf="post.image_type === 'image'; else videoTemplate">
              <img alt="uploaded image" [src]="post.image || '../../../../assets/images/NoImage.png'" (error)="onImageError($event)">
            </ng-container>
            
            <ng-template #videoTemplate>
              <ng-container *ngIf="post.image; else noVideoTemplate">
                <video controls #videoElement [poster]="post.previewImage || '../../../../assets/images/NoImage.png'" (loadedmetadata)="captureFirstFrame(videoElement, post)">
                  <source [src]="post.image" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </ng-container>
            </ng-template>
            
            <ng-template #noVideoTemplate>
              <img alt="No video available" src="../../../../assets/images/NoImage.png">
            </ng-template>
            <span class="category">{{ post.category }}</span>
          </div>
    
          <!-- POST CONTENT -->
          <div class="post-text">
            <a (click)="viewPost(post.id)">
              <strong class="title">{{ post.title }}</strong>
            </a>
            <div class="category-time">
              <!-- <span class="post-category">{{ post.category }}</span> -->
              <span class="published-time">{{ post.created_at | date: 'mediumDate' }} at {{ post.created_at | date: 'shortTime' }}</span>
            </div>
            
            <div class="publisher-name">
              <span> {{ post.fname }} {{ post.lname }} </span>
            </div>
    
            <a (click)="viewPost(post.id)" class="get">View Post</a>
            
            <a (click)="toggleLike(post)">
              <span class="heart-btn">
                <span>{{ post.total_likes }}</span>
                <i [ngClass]="post.liked_by_user ? 'bx bxs-heart' : 'bx bx-heart'"></i>
              </span>
            </a>
          </div>
        </div>
        </ng-container>
      </div>
      
      <!-- Pagination Controls -->
      <div class="pagination" *ngIf="totalPages > 1">
        <span> Page {{ currentPage }} of {{ totalPages }} </span>
        <button class="paginator-btn" (click)="prevPage(); scrollToTop()" [disabled]="currentPage === 1">Previous</button>
        <button class="paginator-btn" (click)="nextPage(); scrollToTop()" [disabled]="currentPage >= totalPages">Next</button>
      </div>
    </div>
    
    <div class="events" [ngClass]="{'up-event': upEventContainer}">
      <div class="head" (click)="toggleCards()">
        <div class="titlehead">
          <i class='bx bxs-megaphone'></i>
          <h2>Announcements</h2>
        </div>
        
        <span class="arrow-icon">
          <i [ngClass]="isExpanded ? 'bx bxs-chevron-down' : 'bx bxs-chevron-left'"></i>
        </span>
      </div>
    
      <div class="scroll-cards" [ngClass]="{'hidden': !isExpanded}">
        <div class="cards">
          <div class="ev-cards" *ngIf="announcements.length > 0">
            <div *ngFor="let item of announcements" class="ev-card" (click)="viewAnnouncem(item.id)">
              <div class="ev-img">
                <img [src]="item.image" (error)="onImageError($event)" alt="uploaded image">
              </div>
              <div class="ev-details" >
                <h4>{{ item.title }}</h4>
                <p>{{ item.description }}</p>
                <h6 class="date">{{ item.created_at | date: 'MMMM dd, yyyy' }}</h6>
              </div>
            </div>
          </div>
          <div *ngIf="announcements.length === 0">No announcements available.</div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal-overlay" *ngIf="showReportModal">
  <div class="modal-container">
    <h3>Report Post</h3>
    <p>Why are you reporting this post?</p>

    <div class="checkbox-group">
      <label *ngFor="let reason of reportReasons">
        <input 
          type="checkbox" 
          [value]="reason" 
          (change)="toggleReason(reason, $event)"
          [checked]="selectedReasons.includes(reason)"
        >
        <span>{{ reason }}</span>
      </label>
    </div>

    <div class="modal-actions">
      <button class="btn cancel" (click)="closeReportModal()">Cancel</button>
      <button class="btn report" [disabled]="selectedReasons.length === 0" (click)="submitReport()">Report</button>
    </div>
  </div>
</div>