<div class="container" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay}">
    <!-- SIDEBAR CONTENT -->
    <nav class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay}">
      <div class="userInfo">
        <div class="userImg">
          <img src="assets/logo/GordonHeights.png">
        </div>
        <div class="userName">
          <h1> Admin </h1>
        </div>

        <button class="menu-icon-button" (click)="toggleSidebar()">
            <i *ngIf="!isSidebarToggled" class='bx bx-chevrons-left'></i>
            <i *ngIf="isSidebarToggled" class='bx bx-chevrons-right'></i>
        </button>
      </div>
  
      <div class="sidebar-content">
        <ul class="sidebarTabs">
          <li class="sidebarTab">
            <a class="tablink" routerLink="dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class='bx bxs-dashboard'></i> </span>
              <span class="tab-link-name"> Dashboard </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="my-barangay" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class='bx bx-home'></i> </span>
              <span class="tab-link-name"> My Barangay </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="announcement" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
              <span class="tab-link-icon"> <i class='bx bx-message-alt-edit' ></i> </span>
              <span class="tab-link-name"> Announcement </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="all-post" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-checkbox-checked'></i> </span>
              <span class="tab-link-name"> All Posts </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="reported-posts" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-error-alt' ></i> </span>
              <span class="tab-link-name"> Reported Posts </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="users" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-user'></i> </span>
              <span class="tab-link-name"> Users </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="reports" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bxs-report'></i>  </span>
              <span class="tab-link-name"> Reports </span>
            </a>
          </li>
          <li class="sidebarTab">
            <a class="tablink" routerLink="logs" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:false}">
              <span class="tab-link-icon"> <i class='bx bx-task'></i> </span>
              <span class="tab-link-name"> Logs </span>
            </a>
          </li>
        </ul>

        <div class="logoutbtn">
          <div class="logout" (click)="logoutPopup()">
            <span> <i class='bx bx-log-out-circle'></i> 
                <app-logout *ngIf="showPopup" (closedPopup)="closePopup()" (leaveClicked)="logout()"></app-logout>
            </span>
          </div>
        </div>
      </div>
    </nav>
  
</div>

<div class="sidebar-overlay" [ngClass]="{'visible': !isSidebarCollapsed}" (click)="toggleSidebar()"></div>

<!-- MAIN CONTENT -->
<div class="main-content" [ngClass]="{'collapsed': isSidebarCollapsed, 'overlay': isSidebarOverlay, 'blurred': isSidebarOverlay}">
    <!-- HEADER -->
    <nav class="header">
      <div class="appname">
        <button class="menu-icon-button" (click)="toggleSidebar()">
          <i class='bx bx-menu'></i>
        </button>
        <h2> Re’sIt </h2>
      </div>

      <div class="logout" (click)="logoutPopup()">
        <span> <i class='bx bx-log-out-circle'> <p> Logout </p> </i>
            <app-logout *ngIf="showPopup" (closedPopup)="closePopup()" (leaveClicked)="logout()"></app-logout>
        </span>
      </div>
      <img class="resitlogo" src="assets/logo/ResItLogo.png">
    </nav>
  
    <!-- MAIN BODY CONTENT -->
    <div class="body-content">
      <div class="admin-container"> <router-outlet></router-outlet> </div>
    </div>
</div>