<div class="spit-screen">
    <!-- LEFT SCREEN -->
    <div class="left">
        <div class="container1">
            <div class="re">
                <h1> RE </h1>
                <div class="the3">
                    <h2> duce </h2>
                    <h2> use </h2>
                    <h2> cycle </h2>
                </div>
            </div>
            <p> 
                Join us to transform waste into wonders! 
                Create, browse, and share innovative and useful ideas for reducing, reusing, and recycling materials. 
                Start exploring today and help make our community greener! 
            </p>
            <div class="route-btn" routerLink="/resIt/signup-to-resIt">
                <a class="btn"> Sign up now! </a>
            </div>
        </div>
    </div>

    <!-- RIGHT SCREEN -->
    <div class="right">
        <img class="web" src="../../../../assets/images/web.png" alt="Re'sIt Web App Clipart">
        <img class="mobile" src="../../../../assets/images/mobile.png" alt="Re'sIt Mobile App Clipart">
    </div>
</div>

<!-- 3RS CONTAINER / DARK GREEN BG -->
<div class="container2">
    <div class="head">
        <h1> The 3Rs </h1>
        <p> At <span class="appname-font">Re’sIt</span>, we believe in the power of the 3Rs to make a difference in our communities. Our platform encourages residents to actively <span class="highlight">reduce</span> waste by sharing their creative <span class="highlight">recycling</span> ideas to <span class="highlight">reuse</span> it. Your ideas help the community <span class="highlight">think twice before discarding</span> something, <span class="highlight">leading to less waste</span> overall.  </p>
    </div>

    <div class="rs-container">
        <div class="card-box">
            <div class="card-img">
                <img alt="reduce image" src="../../../../assets/images/R1.png">
            </div>
            <div class="card-text">
                <a> <strong> REDUCE </strong> </a>
                <p> Encourage others to <span class="highlight">minimize the amount of waste</span> produce by showcasing <span class="highlight">creative ways to repurpose or upcycle items</span>. </p>
            </div>
        </div>

        <div class="card-box">
            <div class="card-img">
                <img alt="reuse image" src="../../../../assets/images/R2.png">
            </div>
            <div class="card-text">
                <a> <strong> REUSE </strong> </a>
                <p> Browse and discover creative ways to <span class="highlight">give new life to everyday items</span>, turning them into <span class="highlight">something useful</span> for your home or garden. </p>
            </div>
        </div>

        <div class="card-box">
            <div class="card-img">
                <img alt="recycle image" src="../../../../assets/images/R3.png">
            </div>
            <div class="card-text">
                <a> <strong> RECYCLE </strong> </a>
                <p> Participate by sharing ideas that <span class="highlight">transform waste into innovative solutions</span>, making <span class="highlight">sustainable living a part of everyday life</span>. </p>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER CONTENT / APP INFO? -->
<footer>
    <div class="company-info">
        <div class="logo">
            <img class="company" src="../../../../assets/logo/CVRS.png">
            <img class="app" src="../../../../assets/logo/ResIt.png">
        </div>

        <div class="brgy">
            <h2> Re’sIt </h2>
            <h3> Blk #12 Gordon Heigths, Olongapo City, Philippines </h3>
        </div>

        <div class="contact">
            <div class="email">
                <p> <i class='bx bxs-phone' ></i> <a href="tel:+639983666893">0998 366 6893</a> </p>
                <p> <i class='bx bxs-envelope' ></i> <a href="mailto:resit.gordonheights@gmail.com">resit.gordonheights&#64;gmail.com</a> </p>
            </div>
            <div class="socials">
                <p> Follow Us </p>
                <!-- hehe wala pa link and di ko alam ano ba, fb lang naman no -->
                <a href="https://www.facebook.com/resit.gordonheigths" target="_blank"> <i class='bx bxl-facebook-square'></i> </a>
                <!-- <a href="https://www.facebook.com" target="_blank"> <i class='bx bxl-instagram-alt' ></i> </a> -->
            </div>
        </div>
    </div>
</footer>