/* SPIT SCREEN */
.spit-screen {
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* LEFT CONTENT */
.left {
    display: flex;
    width: 40%;
    padding: 50px;
    margin-top: 50px;
    margin-left: 40px;
    transform: translateX(-50px);

    .re {
        display: flex;
        align-items: center;
        margin-left: -15px;
        z-index: 10;

        h1 {
            font-family: 'Rubik';
            font-size: 200px;
            line-height: 200px;
            text-transform: uppercase;
            color: var(--dark-green);
            transition: all 0.3s ease-in-out;
            font-weight: 700;
            margin-bottom: 0;
        }

        .the3 {
            h2 {
                font-family: 'Rubik';
                font-size: 45px;
                font-weight: 600;
                line-height: 53px;
                text-transform: uppercase;
                color: var(--dark-green);
                transition: all 0.3s ease-in-out;
                margin-bottom: 0;
            }
        }
    }

    p {
        font-family: 'Rubik';
        font-size: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
    }

    .route-btn {
        width: 250px;
        background-color: var(--extra-green);
        height: 50px;
        background: var(--extra-green);
    }
    
    .route-btn:after {
        background-color: var(--extra-hover);
    }
    
    .route-btn:hover {
        border: 1px solid var(--extra-hover);
    }
    
    .route-btn:hover:before {
        background-color: var(--extra-hover);
    }
    
    .route-btn:hover:after {
        background-color: var(--extra-hover);
    }
}

/* RIGHT CONTENT */
.right {
    width: 60%;
    margin-left: -60px;
    transform: translateX(50px);
    transition-delay: 0.2s;


    h2 {
        font-size: 24px;
        padding-bottom: 270px;
        margin-top: -140px;
        text-align: center;
        color: var(--dark-green);
    }

    // .mobile { display: none; }

    // img {
    //     width: 90%;
    //     height: auto;
    //     // margin-bottom: -10px;
    //     opacity: 1;
    //     transform: translateX(0);
    //     transition: all 0.3s ease-out;
    // }
}

.right {
    .gallery {
        width: 100%;
        position: relative;
    }

    .gallery-container {
        display: flex;
        align-items: center;
        height: auto;
        max-width: 600px;
        position: relative;
        margin: 0 auto;

        img {
            object-fit: cover;
            object-position: center;
            align-content: center;
        }

        .gallery-item {
            position: absolute;
            height: 400px;
            width: 530px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 0;
            border-radius: 15px;
            background-size: contain;
        }

        .gallery-item-1 {
            left: 15%;
            opacity: .4;
            transform: translateX(-50%);
        }

        .gallery-item-2, .gallery-item-4 {
            height: 450px;
            width: 580px;
            opacity: 0.8;
            z-index: 1;
        }

        .gallery-item-2 {
            left: 30%;
            transform: translateX(-50%);
        }

        .gallery-item-3 {
            box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
            height: 500px;
            width: 630px;
            opacity: 1;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }

        .gallery-item-4 {
            left: 70%;
            transform: translateX(-50%);
        }

        .gallery-item-5 {
            left: 85%;
            opacity: .4;
            transform: translateX(-50%);
        }
    }

    .gallery-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 10;
        width: 70%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--secondary-green);
            color: white;
            box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
            border: 0;
            cursor: pointer;
            font-size: 30px;
            border-radius: 100%;
            padding: 7px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var(--dark-hover);
            }
        }
    }

    .gallery-controls button:focus {
        outline: none;
    }
}

.container2 {
    background-color: var(--dark-green);
    padding: 50px 0;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

    h1 {
        padding: 0 20px;
        text-align: center;
        font-size: 36px;
        color: var(--bg-dark);
        font-weight: 700;
        transition: all 0.3s ease-in-out;
    }

    p {
        padding: 0 50px;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
        color: var(--cont-input-border);
        transition: all 0.3s ease-in-out;

        .highlight {
            color: var(--container);
            font-weight: 600;
        }
    }
}

/* 3RS CONTAINER */
.rs-container {
    display: flex;
    gap: 30px;
    padding: 50px 130px;
    align-items: stretch;
    transition: all 0.3s ease-in-out; 

    .card-box {
        width: 100%;
        flex: 1;
        padding: 20px 20px 30px 20px;
        background-color: var(--bg-color);
        border-top: 3px solid var(--extra-green);
        box-shadow:  10px 10px 20px #08184e, -10px -10px 20px #173190;
        display: flex;
        justify-content: center;
        flex-direction: column;

        opacity: 0;
        transform: scale(0.8);
        transition: all 0.3s ease-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        .card-img {
            height: 300px;
            width: 300px;
            margin: 0 auto;
            transition: all 0.3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .card-text {
            text-align: center;
            strong {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                color: #0f0f0f;
                font-weight: 700;
                margin: 10px 0px;
                line-height: 25px;
                transition: all 0.3s ease-in-out;
            }
    
            p {
                font-family: 'Poppins';
                display: inline;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                transition: all 0.3s ease-in-out;

                .highlight {
                    color: var(--extra-green);
                    font-weight: 700;
                }
            }
    
            a { text-decoration: none; }
        }
    }

    .card-box:nth-child(1) { transition-delay: 0.2s; }
    .card-box:nth-child(2) { transition-delay: 0.3s; }
    .card-box:nth-child(3) { transition-delay: 0.4s; }
}

.head.in-view, .left.in-view, .right.in-view {
    opacity: 1;
    transform: translateY(0);
}

.rs-container.in-view .card-box {
    opacity: 1;
    transform: scale(1);
}

/* FOOTER CONTENT */
footer {
    background-color: var(--bg-color);
    padding: 50px 50px;

    .company-info {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 60px;
    }

    .logos {
        display: flex;
        flex-direction: row;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;

        .company {
            width: 100%;
            height: 110px;
            transition: all 0.3s ease-in-out;
        }

        .app {
            width: 110px;
            height: 110px;
            margin-left: -20px;
            transition: all 0.3s ease-in-out;
        }

        .GH1 {
            width: 110px;
            height: 110px;
            margin-left: 20px;
            transition: all 0.3s ease-in-out;
        }

        .GH2 {
            width: 110px;
            height: 110px;
            margin-left: -30px;
            margin-right: -20px;
            transition: all 0.3s ease-in-out;
        }
    }

    .brgy-info {
        display: flex;
        align-items: center;
        column-gap: 60px;
    }

    .brgy {
        h2 {
            font-family: 'Parkinsans';
            color: var(--primary-green);
            font-size: 30px;
            font-weight: 700;
        }
        h3 {
            font-family: 'Poppins';
            font-size: 16px;
            padding-top: 5px;
            font-weight: 500;
        }
    }

    .contact {
        display: flex;
        row-gap: 20px;
        flex-direction: column;

        .email {
            a { color: var(--primary-green); font-size: 16px; }
            i {
                position: absolute;
                margin-left: -23px;
                padding-top: 3px;
            }
            p {
                margin-left: 23px;
                padding-top: 5px;
            }
        }

        .socials {
            p { padding-bottom: 5px; font-size: 16px; }
            i {
                font-size: 30px;
                color: var(--dark-green);
                padding-right: 8px;
            }
        }
    }
}

/*********** MEDIA SCREEN *******************/
// LAPTOPS
@media (min-width: 1441px) and (max-width: 1680px) {
    .left {
        // h1 { font-size: 100px; line-height: 100px; }
        p { font-size: 18px; }
    }
}

@media (max-width: 1440px) {
    .spit-screen { padding-top: 20px; height: auto; }

    .left {
        padding: 50px 10px 50px 40px;
        .re {
            h1 { font-size: 180px; line-height: 180px; }
            .the3 { h2 { font-size: 40px; line-height: 50px; } }
        }
        p { font-size: 15px; }
    }

    .right {
        height: 600px;

        .gallery-container {
            max-width: 500px;
        }
    }

    .head {
        h1 { font-size: 30px; }
        p { font-size: 14px; }
    }

    .rs-container {
        padding: 50px 100px;

        .card-box {
            .card-img {
                height: auto;
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    footer {
        .logos {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 40px;
    
            .GH1 { margin-left: 0; }
            .GH2 { margin-left: 0; margin-right: 0; }
        }

        .brgy-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 30px;
        }
    }
}

// IPADS
@media (max-width: 1024px) {
    .spit-screen { padding-top: 40px; height: auto; }

    .left {
        padding: 30px 10px 50px 10px;
        .re { margin-left: -10px;
            h1 { font-size: 160px; line-height: 160px; }
            .the3 { h2 { font-size: 35px; line-height: 45px; } }
        }
        p { font-size: 14px; }
    }

    .right {
        height: 600px;

        h2 {
            padding-bottom: 170px;
            margin-top: -120px;
        }

        .gallery-container {
            max-width: 500px;

            .gallery-item {
                height: 200px;
                width: 330px;
            }

            .gallery-item-2, .gallery-item-4 {
                height: 250px;
                width: 380px;
            }

            .gallery-item-3 {
                height: 300px;
                width: 430px;
            }
        }

        .gallery-controls {
            width: 80%;
        }
    }

    .rs-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

       .card-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            max-width: 100%;

            .card-img {
                height: 200px;
                width: 200px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .card-text {
                flex: 1;
                text-align: center;
                padding: 0 20px;
                strong { font-size: 2rem; }
                p { font-size: 14px; }
            }
       }
    }
}

@media (max-width: 900px) {
    .left {
        .re {
            h1 { font-size: 130px; line-height: 130px; }
            .the3 { h2 { font-size: 30px; line-height: 35px; } }
        }
        p { font-size: 14px; }
    }

    footer {
        .company-info { column-gap: 20px; }
        .logo {    
            .company {
                width: 110px;
                height: 80px;
            }
            .app, .GH1, .GH2 {
                width: 80px;
                height: 80px;
            }
        }
    }
}

// FOR TABLETS ATA BASTA LOWER MAX WIDTH NG IPAD
@media (max-width: 767px) {
    .spit-screen {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        .left {
            order: 2;
            width: 100%;
            padding: 30px 50px;
            margin-left: 0;
            margin-top: -100px;

            .re { 
                margin-left: -8px;

                h1 { 
                    font-size: 120px; 
                    line-height: 120px; 
                }

                .the3 { h2 { font-size: 25px; line-height: 32px; } }
            }

            p { font-size: 14px; }
        }

        .right {
            order: 1;
            width: 100%;
            margin-bottom: -90px;
            justify-content: right;

            img { width: 70%; }
        }
    }

    .rs-container { padding: 50px; }

    footer {
        padding: 30px 50px;

        .company-info {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .logos {
            display: flex;
            flex-direction: row;
        }

        .logo {
            display: flex;
            column-gap: 10px;

            .app { margin-left: 0; }
        }
    }
}

@media (max-width: 630px) {
    .spit-screen {
        .left {
            margin-top: -10px;
        }

        .right {
            margin-bottom: 0;
            justify-content: center;

            .web { display: none; }
            .mobile { display: flex; }
        
            img {
                width: 90%;
                height: auto;
                // margin-bottom: -10px;
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .rs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;

       .card-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 100%;

            .card-img {
                height: 300px;
                width: 300px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .card-text {
                strong { font-size: 1.2rem; }
                text-align: center;
            }
       }
    }
}

// FIT DIN FOR MOBILE BROWSER
@media (max-width: 500px) {
    .spit-screen {
        display: flex;
        flex-direction: column;
        padding: 40px 30px 50px 30px;

        .left {
            padding: 0;
            margin-left: 0;
            margin-top: 10px;
            p { font-size: 12px; }
        }

        .right {
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-left: 0;
    
            h2 {
                padding-bottom: 120px;
                margin-top: -60px;
                font-size: 20px;
            }
    
            .gallery-container {
                max-width: 300px;
    
                .gallery-item {
                    height: 100px;
                    width: 230px;
                }
    
                .gallery-item-2, .gallery-item-4 {
                    height: 150px;
                    width: 280px;
                }
    
                .gallery-item-3 {
                    height: 200px;
                    width: 330px;
                }
            }
    
            .gallery-controls {
                width: 100%;
            }
        }

        .route-btn {
            width: 150px;
            margin-top: 20px;
            height: 40px;

            a {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .head {    
        p {
            padding: 0 20px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .rs-container {
        padding: 30px;

       .card-box {
            .card-img {
                height: 200px;
                width: 200px;
            }

            .card-text {
                padding: 0;
            }
        }
    }

    footer {
        padding: 30px;

        .logos {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .logo {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .company {
                width: 120px;
                height: 80px;
            }

            .app {
                width: 80px;
                height: 80px;
            }
        }

        .contact {
            display: flex;
            align-self: normal;
            margin-left: 0;
        }
    }
}

//  style button for scroll top
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-green); // Use your existing palette
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-top-btn:hover {
    background-color: var(--dark-green); // Adjust for hover effect
}