.mobile-screen {
    display: none;
}

/* SPIT SCREEN */
.spit-screen {
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
    overflow-x: hidden;
    overflow-y: hidden;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease;
}

/* LEFT CONTENT */
.left {
    width: 40%;
    padding: 50px;
    margin-top: 20px;
    margin-left: 40px;
    animation: fadeInLeft 1s forwards;

    h1 {
        font-size: 130px;
        text-transform: uppercase;
        color: var(--dark-green);
        transition: all 0.3s ease-in-out;
    }

    p {
        font-size: 20px;
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 300;
        transition: all 0.3s ease-in-out;
    }
}

/* RIGHT CONTENT */
.right {
    width: 60%;
    animation: fadeInRight 1s forwards 0.5s;

    img {
        width: 90%;
        height: auto;
        margin-bottom: -10px;
        // padding-right: 20px;
        opacity: 1;
        transform: translateX(0);
    }
}

.container2 {
    background-color: var(--dark-green);
    padding: 50px 0;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';

    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;

    h1 {
        padding: 0 20px;
        text-align: center;
        font-size: 36px;
        color: #d6d6d6;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
    }

    p {
        padding: 0 50px;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
        color: var(--secondary-green);
        transition: all 0.3s ease-in-out;
    }
}

/* 3RS CONTAINER */
.rs-container {
    display: flex;
    gap: 30px;
    padding: 50px 130px;
    align-items: stretch;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;

    .card-box {
        width: 100%;
        flex: 1;
        padding: 20px;
        background-color: var(--bg-color);
        border-top: 3px solid var(--secondary-green);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .card-img {
            height: 300px;
            width: 300px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .card-text {
            strong {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                color: #0f0f0f;
                font-weight: 700;
                margin: 10px 0px;
                line-height: 25px;
            }
    
            p {
                font-family: 'Poppins';
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                font-size: 15px;
            }
    
            a {
                text-decoration: none;
            }
        }
    }

    .card-box:hover {
        background-color: var(--bg-light);
        transform: scale(1.03); /* scale effect on hover */
    }
}

.rs-container.in-view, .head.in-view {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 0.7s forwards;
}

footer {
    background-color: var(--bg-color);
    padding: 50px 50px;

    .company-info {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 60px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;

        .company {
            width: 100%;
            height: 130px;
            transition: all 0.3s ease-in-out;
        }

        .app {
            width: 130px;
            height: 130px;
            margin-left: -20px;
            transition: all 0.3s ease-in-out;
        }
    }

    .brgy {
        padding-left: 10px;
        h2 {
            color: var(--primary-green);
        }
        h3 {
            font-size: 16px;
            padding-top: 5px;
            font-weight: 500;
        }
    }

    .contact {
        display: flex;
        row-gap: 20px;
        flex-direction: column;

        .email {
            i {
                position: absolute;
                margin-left: -23px;
                padding-bottom: 10px;
            }
            p {
                margin-left: 23px;
                padding-top: 5px;
            }
        }

        .socials {
            p { padding-bottom: 5px; }
            i {
                font-size: 30px;
                color: var(--dark-green);
                padding-right: 8px;
            }
        }
    }
}

/********** ANIMATION KEYFRAMES **********/
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*********** MEDIA SCREEN *******************/
/* LAPTOPS */
@media (min-width: 1441px) and (max-width: 1680px) {
    .left {
        h1 { font-size: 100px; line-height: 100px; }
        p { font-size: 18px; }
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .spit-screen { padding-top: 20px; }

    .left {
        h1 { font-size: 80px; }
        p { font-size: 16px; }
    }

    .head {
        h1 { font-size: 30px; }
        p { font-size: 14px; }
    }

    .rs-container {
        padding: 50px 100px;

        .card-box {
            .card-img {
                height: 100%;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

// IPADS
@media (max-width: 1024px) {
    .spit-screen { padding-top: 40px; }

    .left {
        padding: 30px 10px 50px 10px;
        h1 { font-size: 70px; }
        p { font-size: 14px; }
    }

    .right {
        img {
            width: 100%;
            height: auto;
        }
    }

    .rs-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

       .card-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            max-width: 100%;

            .card-img {
                height: 200px;
                width: 200px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .card-text {
                flex: 1;
                text-align: left;
                padding: 0 20px;
                p { font-size: 14px; }
            }
       }
    }

    footer {
        .logo {    
            .company {
                height: 110px;
            }
            .app {
                width: 110px;
                height: 110px;
            }
        }
    }
}

@media (max-width: 900px) {
    footer {
        .company-info {
            column-gap: 20px;
        }

        .logo {    
            .company {
                width: 110px;
                height: 80px;
            }
            .app {
                width: 80px;
                height: 80px;
            }
        }
    }
}

// TABLETS ATA BASTA
@media (max-width: 767px) {
    .spit-screen {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 20px;

        .left {
            order: 2;
            width: 100%;
            padding: 30px 50px;
            margin-left: 0;
            margin-top: -90px;
            h1 { font-size: 70px; width: 100px; }
            p { font-size: 14px; }
        }

        .right {
            order: 1;
            width: 100%;
            margin-bottom: -90px;
            justify-content: right;

            img {
                width: 70%;
            }
        }
    }

    .rs-container {
        padding: 50px;
    }

    footer {
        padding: 30px 50px;

        .logo {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 150px;
            .app {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 630px) {
    .rs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
       .card-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 100%;

            .card-img {
                height: 300px;
                width: 300px;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
       }
    }
}

@media (max-width: 500px) {
    .spit-screen {
        display: flex;
        flex-direction: column;
        padding: 50px 30px 50px 30px;

        .left {
            padding: 0;
            margin-left: 0;
            margin-top: -40px;
            h1 { font-size: 50px; width: 100px; }
            p { font-size: 12px; }
        }

        .right {
            margin-bottom: -50px;
            justify-content: right;

            img {
                width: 80%;
                margin-right: -25px;
            }
        }

        .route-btn {
            width: 150px;
            margin-top: 20px;
            height: 40px;
            a {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .head {
        h1 {
            padding: 0 10px;
            font-size: 20px;
            font-weight: 700;
        }
    
        p {
            padding: 0 20px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .rs-container {
    padding: 30px;
       .card-box {
            .card-img {
                height: 200px;
                width: 200px;
            }

            .card-text {
                padding: 0;
            }
        }
    }

    footer {
        padding: 30px;

        .company-info {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .logo {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 150px;

            .company {
                width: 100%;
                height: 80px;
            }
            .app {
                width: 80px;
                height: 80px;
                margin-left: 0;
            }
        }

        .contact {
            display: flex;
            flex-direction: row;
            align-self: normal;
            justify-content: space-between;
            margin-left: 8px;
        }
    }
}