<div class="spit-screen">
    <!-- LEFT SCREEN -->
    <div class="left">
        <div class="container1">
            <h1> Live Green </h1>
            <p> Living green doesn't have to be hard. Our platform helps you step by step. 
                You can browse other residents' recycling ideas and create and upload your own. 
                With the Re'sIt App, you can live green without giving up comfort. 
                Start exploring today and help make our community greener. 
            </p>
            <div class="route-btn" routerLink="/resIt/signup-to-resIt">
                <a class="btn"> Sign up now! </a>
            </div>
        </div>
    </div>

    <!-- RIGHT SCREEN -->
    <div class="right">
        <img src="../../../../assets/images/clipart.png" alt="resde app clipart">
    </div>
</div>

<div class="container2">
    <div class="head">
        <h1> The 3Rs: Reduce, Reuse, and Recycle </h1>
        <p> At Re'sIt, we believe in the power of the 3Rs to make a difference in our communities. Our platform encourages residents to take an active role in reducing waste by sharing their creative recycling ideas. </p>
    </div>

    <div class="rs-container">
        <div class="card-box">
            <div class="card-img">
                <img alt="reduce image" src="../../../../assets/images/reduce.PNG">
            </div>
            <div class="card-text">
                <a> <strong> REDUCE </strong> </a>
                <p> By showcasing creative ways to repurpose or upcycle items, you encourage others to minimize the amount of waste they produce. Your ideas help the community think twice before discarding something, leading to less waste overall. </p>
            </div>
        </div>

        <div class="card-box">
            <div class="card-img">
                <img alt="reuse image" src="../../../../assets/images/resuse.PNG">
            </div>
            <div class="card-text">
                <a> <strong> REUSE </strong> </a>
                <p> Our community thrives on innovative ideas for reusing materials. Whether transforming an old container into a garden planter or turning scrap wood into outdoor furniture, your shared DIY projects inspire others to breathe new life into discarded items. </p>
            </div>
        </div>

        <div class="card-box">
            <div class="card-img">
                <img alt="recycle image" src="../../../../assets/images/recycle.PNG">
            </div>
            <div class="card-text">
                <a> <strong> RECYCLE </strong> </a>
                <p> Many of the projects shared on our platform highlight innovative ways to recycle. By transforming waste materials like plastic, wood, or metal into new, functional items, you help others see how recycling can be practical and creative. </p>
            </div>
        </div>
    </div>

    <div class="dark-container">
    </div>

</div>

<footer>
    <div class="company-info">
        <img class="company" src="../../../../assets/images/CVRS.png" >
        <img class="app" src="../../../../assets/images/ResdeLogoTransparent.png">

        <div class="brgy">
            <h2> Re'sIt </h2>
            <h3> Barangay Address, Gordon Heights, Olongapo City, Zambales </h3>
        </div>

        <div class="contact">
            <div class="email">
                <p> <i class='bx bxs-phone' ></i> 09********* </p>
                <p> <i class='bx bxs-envelope' ></i> res.it.app&#64;gmail.com </p>
            </div>
            <div class="socials">
                <p> Follow Us </p>
                <!-- hehe wala pa link and di ko alam ano ba, fb lang naman no -->
                <a href="https://www.facebook.com" target="_blank"> <i class='bx bxl-facebook-square'></i> </a>
                <a href="https://www.facebook.com" target="_blank"> <i class='bx bxl-instagram-alt' ></i> </a>
            </div>
        </div>
    </div>
</footer>