<div class="spit-screen">
    <!-- LEFT SCREEN -->
    <div class="left">
        <section class="container">
            <img src="../../../assets/logo/ResItLogo.png" alt="logo" routerLink="/resIt">
            <h1 routerLink="/resIt"> Re’sIt </h1>
            <p> From waste to wonder, let’s make it fit. Start to Reduce, Reuse, and Recycle It! </p>
        </section>
    </div>

    <!-- RIGHT SCREEN -->
    <div class="right">
        <div class="loginform">
            <form action="">
                <section class="appname">
                    <h2> Admin Panel </h2>
                    <!-- FOR RESPONSIVE CONTENT -->
                    <h3> Re’sIt - Admin </h3>
                    <p> Reduce, Reuse, and Recycle It! </p>
                </section>

                <!-- LOG IN FORM -->
                <div class="input-container username">
                    <i class='bx bxs-user-circle'></i>
                    <input id="username" name="username" type="text" placeholder="Username">
                </div>
                <div class="input-container password">
                    <i class='bx bxs-lock' ></i>
                    <input id="password" name="password" type="password" placeholder="Password">
                </div>

                <!-- LOG IN BUTTON -->
                <div class="button" routerLink="/admin">
                    <button class="btn" type="submit"> Log In </button>
                </div>
            </form>
        </div>
    </div>
</div>