<div class="container">
    <div class="content"> 
        <button class="exit-button" routerLink="/login"> &times; </button>
        <!-- ACCOUNT REGISTRATION FORM -->
        <div class="info">
            <form>
                <h1> Create Account </h1>
                
                <!-- USER INFORMATION -->
                <div class="input-row">
                    <div class="input-group">
                        <label> First Name </label>
                        <input type="text" placeholder="First Name">
                    </div>
                    <div class="input-group">
                        <label> Last Name </label>
                        <input type="text" placeholder="Last Name">
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <label> Email </label>
                        <input type="email" placeholder="Email Address">
                    </div>
                    <div class="input-group">
                        <label> Phone Number </label>
                        <input type="number" id="numberInput" placeholder="Contact Number" name="numberInput" min="0" step="1">
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="input-row">
                    <div class="input-group">
                        <label> Password </label>
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="input-group">
                        <label> Confirn Password </label>
                        <input type="password" placeholder="Confirm Password">
                    </div>
                </div>

                <!-- DATA PRIVACY CHECKBOX -->
                <div class="privacy-container">
                    <label class="privacy-label">
                      <input type="checkbox" class="privacy-checkbox">
                           I accept the terms of privacy
                    </label>
                </div>

                <!-- SIGN UP BUTTON -->
                <div class="btns">
                <a class="signup-btn" routerLink="/login"> Sign Up </a>
                </div>
                <br>
                <!-- LOG IN LINK -->
                <div class="loginlink">
                    Already have an account? <a routerLink="/login"> Login </a>
                </div>
            </form>
        </div>
    </div>
</div>