<div class="container">
    <div class="container2"> 
        <button class="exit-button" routerLink="/resIt"> &times; </button>
        <div class="back-btn" routerLink="/resIt"> <i class='bx bx-chevron-left' ></i> </div>
        <!-- ACCOUNT REGISTRATION FORM -->
        <div class="info">
            <form (ngSubmit)="onRegister()" #registerForm="ngForm">
                <h1>Create Account</h1>
              
                <!-- USER INFORMATION -->
                <div class="input-row">
                  <div class="input-group">
                    <label for="inputfield">First Name</label>
                    <input type="text" id="inputfield" placeholder="First Name" [(ngModel)]="registerData.fname" name="fname" required>
                    <span class="errorMessage" *ngIf="registerForm.controls['fname']?.invalid && registerForm.controls['fname']?.touched">
                        First Name is required.
                    </span>
                  </div>
                  <div class="input-group">
                    <label for="inputfield">Last Name</label>
                    <input type="text" id="inputfield" placeholder="Last Name" [(ngModel)]="registerData.lname" name="lname" required>
                    <span class="errorMessage" *ngIf="registerForm.controls['lname']?.invalid && registerForm.controls['lname']?.touched">
                      Last Name is required.
                  </span>
                  </div>
                </div>
              
                <div class="input-row">
                  <div class="input-group">
                    <label for="inputfield">Email</label>
                    <input type="email" id="inputfield" placeholder="example@email.com" [(ngModel)]="registerData.email" name="email" required>
                    <span class="errorMessage" *ngIf="registerForm.controls['email']?.invalid && registerForm.controls['email']?.touched">
                        Email is required.
                    </span>
                    <!-- <span *ngIf="registerForm.controls['email']?.errors?.email && registerForm.controls['email']?.touched">
                        Please enter a valid email address.
                    </span> -->
                  </div>
                  <div class="input-group">
                    <label for="inputfield">Phone Number</label>
                    <input type="number" id="inputfield" [(ngModel)]="registerData.phone_number" name="phone_number" min="0" maxlength="11" placeholder="XXXX-XXX-XXXX" required>
                    <span class="errorMessage" *ngIf="registerForm.controls['phone_number']?.invalid && registerForm.controls['phone_number']?.touched">
                      Phone Number is required.
                    </span>
                  </div>
                </div>
              
                <div class="input-row">
                  <div class="input-group">
                    <label for="inputfield">City</label>
                    <input type="text" id="inputfield" placeholder="City" value="Olongapo City" [(ngModel)]="registerData.city" name="city" required readonly>
                  </div>
                  <div class="input-group">
                    <label for="inputfield">Barangay</label>
                    <select [(ngModel)]="registerData.barangay" name="barangay" id="inputfield" required>
                      <option value="">Select Barangay</option>
                      <option *ngFor="let option of barangays" [value]="option">{{ option }}</option>
                    </select>
                    <span class="errorMessage" *ngIf="registerForm.controls['barangay']?.invalid && registerForm.controls['barangay']?.touched">
                      Barangay is required.
                  </span>
                  </div>
                </div>
              
                <!-- PASSWORD -->
                <div class="input-row">
                  <div class="input-group">
                    <label for="inputfield">Password</label>
                    <input type="password" id="inputfield" placeholder="Password" [(ngModel)]="registerData.password" name="password" required>
                    <span class="errorMessage" *ngIf="registerForm.controls['password']?.invalid && registerForm.controls['password']?.touched">
                        Password is required.
                    </span>
                  </div>
                  <div class="input-group">
                    <label for="inputfield">Confirm Password</label>
                    <input type="password" id="inputfield" placeholder="Confirm Password" [(ngModel)]="registerData.password_confirmation" name="password_confirmation" required>
                    <span *ngIf="registerData.password !== registerData.password_confirmation && registerForm.controls['password_confirmation']?.touched" class="errorMessage">
                        Passwords do not match.
                    </span>
                  </div>
                </div>
              
                <!-- DATA PRIVACY CHECKBOX -->
                <div class="privacy-container">
                  <h3 class="privacy-label">
                    <input type="checkbox" [(ngModel)]="registerData.privacy" name="privacy" required>
                    <p>I agree to the <a (click)="viewTerms()">Terms and Conditions</a> and <a (click)="viewPolicy()">Privacy Policy</a></p>
                  </h3>
                </div>
              
                <!-- SIGN UP BUTTON -->
                <div class="button">
                  <button class="btn" type="submit">Sign Up</button>
                </div>
                <br>
                <!-- LOG IN LINK -->
                <div class="loginlink">
                  Already have an account? <a routerLink="/resIt/login-to-resIt">Login</a>
                </div>
              </form>
        </div>
    </div>
</div>