/* SIGN UP CONTAINER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;

    .container2 {
        position: relative;
        padding: 40px 100px 40px 100px;
        margin-top: 130px;
        margin-bottom: 70px;
        width: 60rem;
        height: auto;
        border: 1.5px solid var(--primary-color);
        background-color: var(--container);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.40);
        animation: bouncePopIn 0.6s forwards;
    }
}

.info h1 {
    margin-top: 1%;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    font-family: 'Josefin Sans';
}

/* SIGN UP FORM */
.input-row .input-group {
    flex-basis: 100%;
}

.input-row {
    gap: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input, select {
        font-family: 'Poppins';
        width: 100%;
        height: 55px;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        background-color: var(--cont-input);
        padding: 20px 10px 3px;
        border: 2px solid transparent;
        transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    input:hover, select:hover {
        background-color: var(--cont-input-hover);
    }

    input:focus, select:focus {
        background-color: var(--cont-input);
        border: 2px solid var(--cont-input-border);
    }
}

label {
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    font-size: 14px;
    color: var(--label-color);
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* PRIVACY CHECKBOX */
.privacy-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;

    h3 {
        font-weight: 400;
        display: flex;
        font-size: 14px;

        input {
            margin-top: -2px;
            margin-right: 5px;
            width: 15px;
            height: 15px;
            border: 1px solid #333;
            cursor: pointer;
            outline: none;
        }

        input[type="checkbox"]:checked {
            accent-color: var(--primary-green);
        }

        a { 
            font-weight: 700; 
            color: var(--primary-green);
            cursor: pointer;
        }
    }
}

/* LOG IN LINK */
.loginlink {
    text-align: center;
    font-size: 14px;
}

.loginlink a {
    text-decoration: none;
    color: var(--dark-green);
}

.loginlink a:hover{
    text-decoration: underline;
}

/* MEDIA SCREEN */
@media screen and (max-width:768px) {
    form {
    width: 100%;
    }

    .input-row {
        display: block;
    }

    .privacy-container {
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:990px) {
    form {
    width: 100%;
    }

    .container2 {
        padding: 40px 100px 40px 100px;
    }

    .privacy-container {
        margin-top: -1.5rem;
        margin-bottom: 2rem;
    }
}