<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div class="popup-head">
                <h1>Edit Landing Page Highlight</h1>
            </div>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="post-content">
            <div *ngIf="loading" class="popup-loader">
                <div class="loader"></div>
                <p>Loading...</p>
            </div>

            <div *ngIf="!loading && !hasPhotos" class="no-uploads-message">
                <p>No existing highlights available.</p>

                <div class="buttons">
                    <input class="submit-btn" type="button" value="Back to Upload" (click)="uploadHighlight()" />
                </div>
            </div>

            <form *ngIf="!loading && hasPhotos" [formGroup]="photoForm">
                <p> Upload up to five environmental highlight photos of our Brgy. Gordon Heights to be featured on the 
                    <span class="appname-font"> Re’sIt </span> landing page. 
                </p>

                <div class="input-row" *ngFor="let index of inputRows; let i = index">
                    <!-- Inline fields (file input, text field, remove button) -->
                    <div class="input-fields-container">
                        <div class="input-field-short">
                            <label class="up-labelline"> Highlight Image {{ i + 1 }} </label>
                            <input #fileInput class="file-field" type="file" accept="image/*" 
                                (change)="onFileSelected($event, 'image' + (i+1), 'content' + (i+1))">
                        </div>
                        <div class="input-field">
                            <label class="labelline"> Description/Content </label>
                            <input class="txt-field" type="text" formControlName="content{{ i+1 }}">
                        </div>
                    </div>
                
                    <!-- Image Preview Below -->
                    <div *ngIf="imagePreviews['image' + (i+1)]" class="preview-container">
                        <img [src]="imagePreviews['image' + (i+1)]" class="image-preview" alt="Preview">
                    </div>
                </div>

                <div class="bottom">
                    <div class="buttons">
                        <input class="danger-btn left" type="button" value="Delete" (click)="deleteHighlight()"/>
                    </div>

                    <div class="buttons">
                        <input class="cancel-btn" type="button" value="Cancel" (click)="cancelEdit()" />
                        <input class="submit-btn" type="button" value="Update" (click)="updateLatestPhotos()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>