<div class="content">
  <div class="head">
    <h1>Trivia Management</h1>
    <div class="route-btn" (click)="openTriviaModal()">
      <i class="bx bx-plus"></i> <a>Add Trivia</a>
    </div>
  </div>

  <!-- Trivia List -->

  <div class="table-content">
    <div class="table-head">
      <form>
        <div class="date-filter">
            <div class="txt_field">
              <label for="filter-from-date">From Date</label>
              <input type="date" id="filter-from-date" (change)="onDateChange($event, 'from')" />
            </div>
            <div class="txt_field">
              <label for="filter-to-date">To Date</label>
              <input type="date" id="filter-to-date" (change)="onDateChange($event, 'to')" />
            </div>
        </div>
      </form>
    </div>

    <div class="overflow">
      <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{ element.created_at | date: 'dd-MM-yy' }} </td>
        </ng-container>

        <!-- Question Column -->
        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef> Question </th>
          <td mat-cell *matCellDef="let element"> {{ element.question }} </td>
        </ng-container>

        <!-- Answers Column -->
        <ng-container matColumnDef="answers">
          <th mat-header-cell *matHeaderCellDef> Answers </th>
          <td mat-cell *matCellDef="let element">
            {{ element.answers?.join(', ') || 'No answers available' }}
          </td>
        </ng-container>

        <!-- Correct Answer Column -->
        <ng-container matColumnDef="correct_answer">
          <th mat-header-cell *matHeaderCellDef> Correct Answer </th>
          <td mat-cell *matCellDef="let element"> {{ element.correct_answer }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="actions">
            <button class="edit" (click)="openEditModal()">
              <i class="bx bx-edit"></i>
              <span class="tooltiptext">Edit</span>
            </button>

            <button class="delete">
              <i class="bx bx-trash" (click)="deletequest(element.id)"></i>
              <span class="tooltiptext">Delete</span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>
</div>
