<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div class="popup-head">
                <h1> {{ post.category }} Content </h1>
                <p *ngIf="post.status === 'reported' || post.status === 'removed'" class="status red-status"> 
                    {{ post.status }} 
                </p>
            </div>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="post-content">
            <div class="declined-remarks" *ngIf="post.status === 'removed'">
                <h3>Post has been removed by an admin.</h3>
                <p><strong>Reason for Removal:</strong> {{ post.remarks }}</p>

                <p class="reasons"><strong>Reported for:</strong></p>
                <ul>
                <li *ngFor="let reason of getUniqueReasons()">{{ reason }}</li>
                </ul>

                <p class="date-removed"><strong>Date Removed:</strong> {{ post.deleted_at | date: 'mediumDate' }} at {{ post.deleted_at | date: 'shortTime' }}</p>

                <p class="deletion-warning">
                This post will be <strong>permanently deleted after 7 days.</strong>  
                </p>
            </div>

            <div class="declined-remarks" *ngIf="post.status === 'reported'">
                <h3>{{ post.report_remarks }}</h3>
                <p class="reasons"><strong>Reported for:</strong></p>
                <ul>
                <li *ngFor="let reason of getUniqueReasons()">{{ reason }}</li>
                </ul>
            </div>

            <div class="main-post">
                <div class="upper">
                    <h2>{{ post.title || 'Untitled' }}</h2>
                    <p class="materials">{{ formatMaterials(post?.materials) }}</p>
                </div>
                <p class="info">
                    <span class="author">{{ post.user_name }} </span>
                    <span class="date"> • {{ post.created_at | date:'longDate' }} at {{ post.created_at | date: 'shortTime' }}</span>
                </p>
                <p [innerHTML]="formatContent(post.content)"></p>
                <div class="post-img">
                    <ng-container *ngIf="post.image_type === 'image' && post.image; else videoTemplate">
                        <img alt="uploaded image" [src]="post.image" (error)="onImageError($event)">
                    </ng-container>
                      
                    <ng-template #videoTemplate>
                        <ng-container *ngIf="post.image">
                          <video controls #videoElement [poster]="post.previewImage" (loadedmetadata)="captureFirstFrame(videoElement, post)">
                            <source [src]="post.image" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="post-footer">
            <div class="buttons" *ngIf="post.status === 'posted' || post.status === 'reported'"> 
                <input class="danger-btn" type="button" value="Remove Post" (click)="removePost(data.id)">
            </div>
        </div>
    </div>
</div>