<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div class="popup-head">
                <h1> Idea Post </h1>
                <!-- <p class="status" [ngClass]="{
                    'pending-status': post.status === 'pending',
                    'approved-status': post.status === 'approved',
                    'declined-status': post.status === 'declined',
                  }"> {{ post.status }} </p> -->
            </div>
            <button class="exit-button" (click)="closeDialog()"> &times; </button>
        </div>

        <div class="post-content">
            <h4 class="publisher">{{post?.user_name}}</h4>
            <span class="date">{{ post?.created_at | date: 'dd-MM-yyyy' }}</span>
            <div class="main-post">
                <h2>{{post?.title}}</h2>
                <span class="category">{{post?.category}}</span>
                <p>{{post?.content}}</p>
                <div class="post-img">
                    <img [src]=" post?.image || '../../../../../assets/images/NoImage.png'" alt="post image">
                </div>
            </div>
        </div>

        <div class="post-footer">
            <div class="buttons">
                <div *ngIf="data.context === 'componentA'"> 
                    <input class="danger-btn" type="button" value="Delete" (click)="deletePost(data.id)">
                </div>
                <div *ngIf="data.context === 'componentB'">
                    <input class="submit-btn" type="button" value="Approve Post" (click)="approvePost(data.id)">
                    <input class="danger-btn" type="button" value="Decline" (click)="declinePost(data.id)">
                </div> 
            </div>
            
        </div>
    </div>
</div>