<div class="content">
    <div class="head">
        <h1> Users Reported Posts </h1>
    </div>

    <div class="table-content">
            <div class="filters">
                <div class="selects">
                    <input type="text" placeholder="Search by Name, Reasons, or Remarks..." (input)="onSearchChange($event)" class="search-input">
                </div>
            
                <form>
                  <div class="date-filter">
                      <div class="txt_field">
                        <label for="filter-from-date">From Date</label>
                        <input type="date" id="filter-from-date" (change)="onDateChange($event, 'from')" />
                      </div>
                      <div class="txt_field">
                        <label for="filter-to-date">To Date</label>
                        <input type="date" id="filter-to-date" (change)="onDateChange($event, 'to')" />
                      </div>
                  </div>
                </form>
              </div>

              <br>
            
        <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date Posted</th>
            <td mat-cell *matCellDef="let element">{{element.created_at | date:'mediumDate'}} {{element.created_at | date:'shortTime'}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.fname}} {{element.lname}}</td>
            </ng-container>
        
            <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>
        
            <ng-container matColumnDef="report_count">
            <th mat-header-cell *matHeaderCellDef>Times Reported</th>
            <td mat-cell *matCellDef="let element" [ngClass]="'status ' + element.status">{{ element.report_count }}</td>
            </ng-container>
        
            <ng-container matColumnDef="report_reasons">
            <th mat-header-cell *matHeaderCellDef>Reasons</th>
            <td mat-cell *matCellDef="let element" [ngClass]="'status ' + element.status">{{ formatReasons(element.report_reasons) }}</td>
            </ng-container>

            <ng-container matColumnDef="report_remarks">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td mat-cell *matCellDef="let element" [ngClass]="'status ' + element.status">{{element.report_remarks}}</td>
            </ng-container>
        
            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="actions">
                <button class="delete" (click)="deletePost(element.id)">
                    <i class='bx bx-trash'></i>
                    <span class="tooltiptext"> Remove </span>
                </button>
                <button class="view" (click)="viewPost(element.id)">
                    <i class='bx bx-detail'></i>
                    <span class="tooltiptext"> View </span>
                </button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>
</div>