.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.post-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        color: var(--dark-green);
        padding-bottom: 20px;
    }
    
    h3 {
        font-family: 'Josefin Sans';
        font-size: 36px;
        color: #2b2b2b;
        font-weight: 700;
        text-align: center;
    }
}

/* USER POST CONTAINER */
.post-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 30px;
}

/* POST CONTENT */
.post-box {
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    // border-radius: 3px;
    // border-top: 3px solid var(--secondary-green);
    animation: slideInBottom 0.5s ease-out;

    .post-img {
        display: flex;
        width: 100%;
        position: relative;
        background-color: #6c6c6c;
        
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
            align-content: center;
            /* text-align-last: center; */
        }

        .category {
            color: white;
            position: absolute;
            left: 10px;
            top: 10px;
            padding: 5px 10px 2px 10px;
            font-size: 0.9rem;
            background-color: var(--secondary-green);
            border-radius: 5px;
        }
    }

    .post-text {
        strong {
            display: flex;
            font-size: 18px;
            color: #0f0f0f;
            font-weight: 400;
            margin: 10px 0px;
            line-height: 20px;
            font-family: 'Poppins';
        }

        .category-time {
            align-items: center;
            margin-bottom: 3%;
    
            span {
                font-size: 0.8rem;
            }

            .post-category {
                padding: 5px 3px 2px 6px;
                color: #9b9b9b;
                font-weight: 500;
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 5px;
                margin-right: 10px;
            }
            
            .published-time {
                color: var(--secondary-green);
                font-weight: 500;
            }
        }

        .publisher-name {
            color: var(--secondary-green);
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            font-weight: 500;
            margin-bottom: 5%;
        }

        a {
            text-decoration: none;
        }

        .title {
            font-weight: 600;
            text-decoration: none;
            display: -webkit-box;
            display: -moz-box; 
            display: -ms-box;
            display: box;
            -webkit-line-clamp: 1;
            -moz-line-clamp: 1;
            -ms-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.5;
            letter-spacing: 0.5px;
            max-height: calc(1.5em * 1); 
        }
        
        .get {
            padding: 8px 10px 4px 10px;
            color: white;
            font-weight: 500;
            background-color: var(--dark-green);
            border-radius: 3px;
            cursor: pointer;
        }
        
        .get:hover {
            color: white;
            background-color: var(--primary-green);
        }
        
        .heart-btn {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background: none;
            border: none;
            font-size: 20px;
            color: red;
            cursor: pointer;
            outline: none;
        }
        
        .heart-btn:hover {
            color: darkred;
        }
        
    }
}

.post-box:hover {
    background-color: rgb(244, 244, 244);
    transform: scale(1.03); /* scale effect on hover */ 
}

/* MEDIA SCREEN */
@media(max-width:1250px){
    .post-container {
        grid-template-columns: 1fr 1fr;

        .post-box {
            width: 100%;
        }
    }
}
 
@media(max-width:900px){
    .post-container {
        grid-template-columns: 1fr;

        .post-box {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .container {
        padding: 30px;
    }

    .post-heading {
        span {
            padding-bottom: 10px;
        }
        
        h3 {
            font-size: 30px;
        }
    }
}

@media (max-width: 400px) {
    .container {
        padding: 30px 20px;
    }

    .post-heading {
        span {
            padding-bottom: 10px;
        }
        
        h3 {
            font-size: 26px;
        }
    }

    .post-box {
        background-color: white; /* Remove background change on hover */
        transform: unset; /* Remove scale effect */
    }

    .post-box:hover {
        background-color: white; /* Remove background change on hover */
        transform: unset; /* Remove scale effect */
    }
}