<div class="container">
    <div class="post-heading">
      <span> Recent Posts </span>
      <h3> Recycled Garden Gallery </h3>
    </div>
  
    <div class="post-container">
      <div *ngFor="let post of posts" class="post-box">
        <div class="post-img">
          <img alt="uploaded image" [src]="post.image || '../../../../../assets/images/NoImage.png'">
          <span class="category">{{ post.category }}</span>
        </div>
  
        <!-- POST CONTENT -->
        <div class="post-text">
          <a routerLink="../viewpost">
            <strong class="title">{{ post.title }}</strong>
          </a>
          <div class="category-time">
            <span class="post-category">{{ post.category }}</span>
            <span class="published-time">{{ post.created_at | date:'dd-MM-yyyy' }}</span>
          </div>
          
          <div class="publisher-name">
            <span> {{ post.user_name }} </span>
          </div>
  
          <a routerLink="../viewpost" class="get">Read more</a>
          
          <a (click)="toggleLike(post)">
            <span class="heart-btn">
              <i [ngClass]="post.liked_by_user ? 'bx-heart-fill' : 'bx-heart'"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  