<div class="content">
    <div class="head">
        <!-- <div class="title"> <h1> Your Posts </h1> </div> -->
        <h1> Pending Posts </h1>
        <!-- <div class="button" routerLink="../approved-posts">
            <a> Approved Posts </a>
        </div> -->
    </div>

    <div class="table-content">

        <div class="card-header">
            <a routerLink="../../dashboard"> Dashboard <span> <i class='bx bxs-home'></i> </span> </a>
        </div>

        <div class="filters">
            <div class="selects">
                <select id="filter-category" (change)="onCategoryChange($event)">
                    <option value="Compost">Compost</option>
                    <option value="Compost">Compost</option>
                    <option value="Plastic">Plastic</option>
                    <option value="Rubber">Rubber</option>
                    <option value="Wood and Paper">Wood and Paper</option>
                    <option value="Glass">Glass</option>
                    <option value="Boxes">Boxes</option>
                    <option value="Mixed Waste">Mixed Waste</option>
                    <option value="Cloth">Cloth</option>
                    <option value="Issues">Issues</option>
                    <option value="Miscellaneous Products">Miscellaneous Products</option>
                    <option value="Tips & tricks">Tips & tricks</option>
                </select>
            </div>
        
            <form>
              <div class="date-filter">
                  <div class="txt_field">
                    <label for="filter-from-date">From Date</label>
                    <input type="date" id="filter-from-date" (change)="onDateChange($event, 'from')" />
                  </div>
                  <div class="txt_field">
                    <label for="filter-to-date">To Date</label>
                    <input type="date" id="filter-to-date" (change)="onDateChange($event, 'to')" />
                  </div>
              </div>
            </form>
          </div>

          <br>

        <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.created_at | date:'dd-MM-yyyy'}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.fname}} {{element.lname}}</td>
            </ng-container>
        
            <!-- Category Column -->
            <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>
        
            <!-- Title Column -->
            <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
        
            <!-- Status Column -->
            <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element" class="status">{{element.status}}</td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="actions">
                <button class="edit" (click)="approvePost(element.id)">
                    <i class='bx bx-check-square'></i>
                    <span class="tooltiptext"> Approve </span>
                </button>
                <button class="delete" (click)="rejectPost(element.id)">
                    <i class='bx bx-no-entry'></i>
                    <span class="tooltiptext"> Decline </span>
                </button>
                <button class="view" (click)="viewPost(element.id)">
                    <i class='bx bx-detail'></i>
                    <span class="tooltiptext"> View </span>
                </button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
        </mat-paginator>
        
    </div>
</div>