
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $ResdeApp-primary: mat.define-palette(mat.$indigo-palette);
// $ResdeApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $ResdeApp-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $ResdeApp-theme: mat.define-light-theme((
//   color: (
//     primary: $ResdeApp-primary,
//     accent: $ResdeApp-accent,
//     warn: $ResdeApp-warn,
//   ),
//   typography: mat.define-typography-config(),
//   density: 0
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($ResdeApp-theme);

:root {
    --primary-green: #60716A;
    --hover-green: #576760;
    --secondary-green: #9EB3AA;
    --dark-green: #404B43;
    --dark-hover: #37413a;
    --bg-color: #EDE6DE;

    --red-btn: #AB0E0E;
    --red-hover: #8F0C0C;
    --gray-btn: #777777;
    --gray-hover: #6B6B6B;
    --white-hover: rgb(242, 242, 242);

    --container-color1: #D6CABC;
    --label-color: rgb(74, 74, 74);
    --input-color: #D9D9D9;
    --input-color2: rgb(233, 233, 233);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Josefin Sans';
}

.content {
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px 30px;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

input {
    font-family: 'Poppins';
}

label {
    font-family: 'Josefin Sans';
}

/* EXIT BUTTON */
.exit-button {
    position: absolute;
    top: 30px;
    right: 65px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    color: #555;
}

.exit-button:hover {
    color: var(--primary-green);
}

.button {
    width: 200px;
    background-color: var(--primary-green);
    color: var(--bg-color);
    margin-top: 30px;
    height: 40px;
    align-content: space-evenly;
    border-radius: 5px;
    text-align: -webkit-center;
    text-transform: uppercase;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);

    a {
        text-decoration: none;
        color: var(--bg-color);
        font-size: 16px;
        font-weight: 500;
    }
}

.button:hover {
    transition: .5s;
    transform: translate(0px, -2px);
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    box-shadow: none;
    background: var(--primary-green);
    cursor: pointer;
    text-decoration: none;
}

// ACTION BUTTONS
.actions button {
    text-decoration: none;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: .5s;
    background-color: transparent;
    i {
        padding: 4px;
    }
}

.actions {
    // edit button
    .edit {
        color: var(--primary-green);
        margin-right: 5px;
    }
    .edit:hover {
        background-color: var(--hover-green);
        color: white;
    }
    // delete button
    .delete {
        color: var(--red-btn);
    }
    .delete:hover {
        background-color:var(--red-hover);
        color: white;
    }
    // view button
    .view {
        color: var(--gray-btn);
        margin-left: 5px;
    }
    .view:hover {
        background-color: var(--gray-hover);
        color: white;
    }
}

// ACTIONS TOOLTIP
tr {
    position: relative;
}

.actions .tooltiptext {
    font-family: 'Poppins';
    font-size: 14px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    font-weight: normal;
    width: 120px;
    right: 0%;
    z-index: 1;
}

.edit:hover .tooltiptext,
.delete:hover .tooltiptext,
.view:hover .tooltiptext {
    visibility: visible;
}

/* ANIMATION KEYFRAMES */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bouncePopIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    60% {
        opacity: 1;
        transform: scale(1.1); /* Slight overshoot */
    }
    80% {
        transform: scale(0.95); /* Slight undershoot */
    }
    100% {
        transform: scale(1); /* Final scale */
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start below the element's final position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the element's final position */
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes popUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}