<div class="container">
  <div class="post-container">
    <div class="post-header">
      <div class="popup-head">
        <h1> Edit Trivia </h1>
        <h1> nakacomment po ang all kasi idunno paano iconnect </h1>
      </div>
      <button class="exit-button" (click)="closeDialog()"> &times; </button>
    </div>

    <div class="post-content">
      <form [formGroup]="triviaForm" (ngSubmit)="updateTrivia()">
        <div class="input-row">
          <div class="input-field">
            <label class="labelline" for="question">Question</label>
            <input class="txt-field" id="question" formControlName="question" type="text" />
          </div>
        </div>

        <div class="input-row">
          <div class="input-field">
            <label class="labelline" for="correct_answer">Correct Answer</label>
            <input class="txt-field" id="correct_answer" formControlName="correct_answer" type="text" />
          </div>
        </div>

        <!-- Submit Button inside the form -->
        <div class="post-footer">
          <div class="buttons">
            <button class="cancel-btn" type="button" (click)="closeDialog()">Cancel</button>
            <button class="submit-btn" type="submit" >Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
