.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.post-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    max-height: 90%;
}

// HEADER //
.post-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);

    .popup-head {
        display: flex;
        align-items: center;
        gap: 8px;

        h1 {
            color: black;
            padding-top: 3px;
            font-weight: 700;
            font-size: 24px;
            text-align: left;
        }
    }

    .exit-button {
        position: relative;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        font-size: 40px;
        cursor: pointer;
        color: var(--gray-btn);
    }
    
    .exit-button:hover {
        color: var(--gray-hover);
    }
}

// BODY CONTENT //
.post-content {
    overflow-y: auto;
    width: 100%;
    padding: 40px 30px;
}

// SCROLLBAR //
.post-content::-webkit-scrollbar {
    width: 7px;
}

.post-content::-webkit-scrollbar-thumb {
    background-color: var(--gray-btn);
    border-radius: 5px;
}

.post-content::-webkit-scrollbar-track {
    background-color: var(--white);
}

.post-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-hover);
}

form {
    .input-row .input-field {
        flex-basis: 100%;
    }

    .input-row .input-field-short {
        flex-basis: 70%;
    }

    .input-row .input-field-shorter {
        flex-basis: 30%;
    }

    .input-row {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;

        .txt-field {
            font-family: 'Poppins';
            color: black;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            border: 1px solid var(--secondary-green);
            outline: none;
            font-size: 14px;
            padding: 20px 10px 3px;
            transition: all 0.5s ease-in-out;
            background-color: var(--input-color);
        }

        .txt-field:hover, .txtarea-field:hover, .file-field:hover {
            background-color: var(--input-bg);
        }

        .txt-field:focus, .txtarea-field:focus, .file-field:focus {
            background-color: var(--white-hover);
        }

        .txtarea-field {
            font-family: 'Poppins';
            width: 100%;
            height: 150px;
            border-radius: 5px;
            resize: none;
            border: 1px solid var(--secondary-green);
            outline: none;
            font-size: 14px;
            padding: 20px 10px 3px;
            transition: all 0.5s ease-in-out;
            background-color: var(--input-color);
        }

        .fix-txt-field {
            font-family: 'Poppins';
            color: black;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            border: 1px solid var(--secondary-green);
            outline: none;
            font-size: 14px;
            padding: 20px 10px;
            transition: all 0.5s ease-in-out;
            background-color: var(--input-color);
        }

        .with-add {
            display: flex;
            align-items: flex-end;
            flex-basis: 50%;
            gap: 10px;

            .addbtn {
                border: none;
                border-radius: 5px;
                background-color: var(--primary-green);
                color: white;
                height: 50px;
                width: 80px;
                font-family: 'Poppins';
                cursor: pointer;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background-color: var(--primary-hover);
                }
            }
        }

        .with-remove {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .removebtn {
            display: flex;
            font-size: 30px;
            color: var(--gray-btn);
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 5px;
            top: 0;
            right: 0;
            cursor: pointer;

            &:hover {
                color: var(--gray-hover);
                background-color: var(--input-bg);
            }

            // Disabled state styling
            &[disabled] {
                background-color: var(--gray-hover);
                color: var(--gray-btn);
                cursor: default;
                box-shadow: none;

                &:hover {
                    background-color: var(--gray-hover);
                    color: var(--gray-btn);
                }
            }
        }

        .another-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-basis: 100%;
        }

        .labelline {
            position: absolute;
            margin-top: 5px;
            margin-left: 10px;
            font-size: 12px;
            color: var(--label-color);
        }

        .up-labelline {
            position: absolute;
            margin-top: -20px;
            margin-left: 10px;
            font-size: 12px;
            color: var(--label-color);
        }
    }

    .input-row:last-child {
        margin-bottom: 0;
        padding-top: 10px;
    }
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    z-index: 1;
    background-color: white;

    .buttons {
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    .post-container {
        justify-content: space-between;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
    }

    .post-header {
        padding: 10px 30px;
    }

    .post-content {
        height: 100vh;

        .publisher {
            font-size: 16px;
        }
    
        .main-post {
            h2 { font-size: 20px; }
            p { font-size: 14px; }
        }
    }
}

@media (max-width: 500px) {
    .post-header {
        .popup-head {
            h1 {
                font-size: 22px;
            }
        }
    }
}