<div class="content">
    <div class="container">
        <button class="exit-button" routerLink="../home"> &times; <span class="exit-tooltip"> Exit </span> </button>
        <div class="head">
            <h1> Personal Information </h1>
        </div>
        <form action="" class="form-field">
            <div class="input-row">
                <div class="input-field">
                    <label class="labelline"> Firstname </label>
                    <input class="txt-field" type="text" name="firstname">
                </div>
                <div class="input-field">
                    <label class="labelline"> Lastname </label>
                    <input class="txt-field" type="text" name="lastname">
                </div>
            </div>

            <div class="input-row">
                <div class="input-field">
                    <label class="labelline"> Email </label>
                    <input class="txt-field" type="email" name="email">
                </div>
                <div class="input-field">
                    <label class="labelline"> Phone Number </label>
                    <input class="txt-field" type="number" name="phonenum" min="0" step="1" id="numberInput">
                </div>
            </div>

            <div class="input-row">
                <div class="input-field">
                    <label class="labelline"> City </label>
                    <input class="txt-field" type="text" name="city" value="Olongapo">
                </div>
                <div class="input-field">
                    <label class="labelline"> Barangay </label>
                    <select class="txt-field">
                        <option value=""> Select Barangay </option>
                        <option value="Asinan"> Asinan </option>
                        <option value="Banicain"> Banicain </option>
                        <option value="Barreto"> Barreto </option>
                        <option value="East Bajac-bajac"> East Bajac-bajac </option>
                        <option value="East Tapinac"> East Tapinac </option>
                        <option value="Gordon Heights"> Gordon Heights </option>
                        <option value="Kalaklan"> Kalaklan </option>
                        <option value="New Kalalake"> New Kalalake </option>
                        <option value="Mabayuhan"> Mabayuhan </option>
                        <option value="New Cabalan"> New Cabalan </option>
                        <option value="New Ilalim"> New Ilalim </option>
                        <option value="New Kababae"> New Kababae </option>
                        <option value="Pag-asa"> Pag-asa </option>
                        <option value="Santa Rita"> Santa Rita </option>
                        <option value="West Tapinac"> West Tapinac </option>
                        <option value="Old Cabalan"> Old Cabalan </option>
                    </select>
                </div>
            </div>

            <div class="buttons">
                <input class="submit-btn" type="submit" value="Update Info">
            </div>

        </form>
    </div>
</div>