<main>
    <div class="content">
        <div class="spit-screen">
            <!-- LEFT SCREEN -->
            <div class="left">
                <!-- USER INFORMATION -->
                <div class="container" id="content1" *ngIf="currentContent === 'content1'">
                    <div class="head">
                        <h1> {{ user.fname }} {{ user.lname }} </h1>
                    </div>
                    <div class="infos">
                        <span class="email"> <i class='bx bxl-gmail'></i> <p> {{ user.email }} </p> </span>
                        <span class="address"> <i class='bx bxs-map-pin' ></i> Lives at <p> {{ user.barangay }}, {{ user.city }} </p> </span>
                        <span class="badges" *ngIf="user.badge && user.badge.length > 0"> <i class='bx bx-badge'></i> <p> {{ user.badge.replace('[', '').replace(']', '') }} </p> </span>
                    </div>

                    <div class="logo-bg">
                    </div>
                </div>

                <!-- EDIT PROFILE-->
                <div class="container" id="content2" *ngIf="currentContent === 'content2'">
                    <div class="head">
                        <h1>Edit Profile</h1>
                    </div>
                
                    <form class="form-field" [formGroup]="userForm" (ngSubmit)="updateUserData()">
                        <div class="input-row">
                          <div class="input-field">
                            <label class="labelline">First Name</label>
                            <input class="txt-field" type="text" formControlName="fname">
                          </div>
                          <div class="input-field">
                            <label class="labelline">Last Name</label>
                            <input class="txt-field" type="text" formControlName="lname">
                          </div>
                        </div>
            
                        <div class="input-row">
                          <div class="input-field">
                            <label class="labelline">{{ isMinor ? "Parent's Email" : "Email" }}</label>
                            <input class="txt-field" type="email" formControlName="email" [readonly]="true">
                          </div>
                          <div class="input-field">
                            <label class="labelline">Phone Number</label>
                            <input class="txt-field" type="text" formControlName="phone_number" id="numberInput" maxlength="16" (input)="onPhoneNumberInput($event)">
                            <span class="errorMessage" *ngIf="userForm.get('phone_number')?.invalid && userForm.get('phone_number')?.touched">
                                Phone number must be in the format: +63 XXX-XXX-XXXX.
                            </span>
                          </div>
                        </div>
            
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline">Birthdate</label>
                                <input 
                                    type="date" 
                                    id="birthdateInput" 
                                    formControlName="birthdate"
                                    name="birthdate"
                                    class="txt-field"
                                    (change)="calculateAge()"
                                    required
                                />
                                <span class="errorMessage" *ngIf="userForm.get('birthdate')?.invalid && userForm.get('birthdate')?.touched">
                                    You must be at least 12 years old to have this account.
                                </span>
                            </div>
                          <div class="input-field">
                            <label class="labelline">Street</label>
                            <input 
                            type="text" 
                            id="streetInput" 
                            placeholder="Enter your street" 
                            formControlName="street"
                            name="street" 
                            list="streetList"
                            class="txt-field"
                            required
                            />
                            <datalist id="streetList">
                            <option *ngFor="let street of streets" [value]="street"></option>
                            </datalist>
                          </div>
                        </div>
            
                        <div class="input-row">
                          <div class="input-field">
                            <label class="labelline">Barangay</label>
                            <input class="txt-field" type="text" formControlName="barangay" [disabled]="true">
                          </div>
                          <div class="input-field">
                            <label class="labelline">City</label>
                            <input class="txt-field" type="text" formControlName="city" [disabled]="true">
                          </div>
                        </div>
            
                        <div class="buttons">
                          <button type="submit" class="submit-btn" [disabled]="userForm.pristine || userForm.invalid">Update Info</button>
                        </div>
                      </form>
                </div>
                

                <!-- CHANGE PASSWORD -->
                <div class="container" id="content3" *ngIf="currentContent === 'content3'">
                    <div class="head">
                        <h1> Change Password </h1>
                    </div>
                    <form action="" class="form-field" [formGroup]="passForm" (ngSubmit)="onPasswordChange()">
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> Current Password </label>
                                <input class="txt-field" type="password" name="password" formControlName="currentPassword">
                            </div>
                            <div class="input-field">
                                <!-- <label class="labelline"> Current Password </label>
                                <input class="txt-field" type="password" name="password"> -->
                            </div>
                        </div>
            
                        <div class="title">
                            <h2> Enter your New Password </h2>
                        </div>
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> New Password </label>
                                <input class="txt-field" type="password" name="password" formControlName="new_password">
                                <!-- PASSWORD ERRORS -->
                                <span class="errorMessage" *ngIf="passwordErrors.required">Password is required.</span>
                                <span class="errorMessage" *ngIf="passwordErrors.length">Password must be at least 8 characters long.</span>
                                <span class="errorMessage" *ngIf="passwordErrors.capital">Password must include at least one capital letter (A-Z).</span>
                                <span class="errorMessage" *ngIf="passwordErrors.lowercase">Password must include at least one small letter (a-z).</span>
                                <span class="errorMessage" *ngIf="passwordErrors.number">Password must include at least one number (0-9).</span>
                                <span class="errorMessage" *ngIf="passwordErrors.special">Password must include at least one special character (e.g., ! &#64; # $ % ^ & *).</span>
                            </div>
                            <div class="input-field">
                                <label class="labelline"> Confirm Password </label>
                                <input class="txt-field" type="password" name="password" formControlName="new_password_confirmation">
                                <span *ngIf="passForm.hasError('mismatch') && passForm.controls['new_password_confirmation']?.touched" class="errorMessage">
                                    Passwords do not match.
                                </span>
                            </div>
                        </div>
            
                        <div class="buttons">
                            <input class="submit-btn" type="submit" value="Change Password" [disabled]="passForm.invalid">
                        </div>
            
                    </form>
                </div>
            </div>
        
            <!-- RIGHT SCREEN -->
            <div class="right">
                <div class="card" (click)="showContent1()" *ngIf="!(isMobile && currentContent === 'content1')" [ngClass]="{'active': currentContent === 'content1'}" style="--delay: 0.1s;">
                    <div class="icon">
                        <i class='bx bx-id-card'></i>
                    </div>
                    <div class="title">
                      <h2> Personal Info </h2>
                    </div>
                </div>
        
                <div class="card" (click)="showContent2()" *ngIf="!(isMobile && currentContent === 'content2')" [ngClass]="{'active': currentContent === 'content2'}" style="--delay: 0.2s;">
                    <div class="icon">
                        <i class='bx bxs-edit'></i>
                    </div>
                    <div class="title">
                        <h2> Edit Profile </h2>
                    </div>
                </div>
    
                <div class="card" (click)="showContent3()" *ngIf="!(isMobile && currentContent === 'content3')" [ngClass]="{'active': currentContent === 'content3'}" style="--delay: 0.3s;">
                    <div class="icon">
                        <i class='bx bx-reset' ></i>
                    </div>
                    <div class="title">
                        <h2> Change Password </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="posts">
            <div class="head">
                <!-- <h1> Approved Posts </h1> -->
            </div>
            <div class="post-container">
                <!-- Show skeleton loaders while posts are loading -->
                <ng-container *ngIf="isLoading">
                    <div class="post-box skeleton-loader" *ngFor="let loader of loaders">
                        <div class="post-img">
                            <div class="image-placeholder"></div>
                            <span class="category-placeholder"></span>
                        </div>
                        <div class="post-text">
                            <div class="title-placeholder"></div>
                            <div class="category-time-placeholder"></div>
                            <div class="publisher-placeholder"></div>
                        </div>
                    </div>
                </ng-container>
        
                <!-- Dynamically render only approved posts -->
                <ng-container *ngIf="!isLoading">
                    <ng-container *ngFor="let element of paginatedPosts">
                        <div class="post-box" *ngIf="element.status === 'posted' || element.status === 'reported'">
                            <div mat-card-header class="post-img">
                                <img [src]="element.image" (error)="onImageError($event)" alt="uploaded image" (click)="viewPost(element.id)">
                                <span class="status approved-status">{{ element.total_likes }} Like/s</span>
                            </div>
                            <mat-card-content class="post-text">
                                <a (click)="viewPost(element.id)">
                                    <strong class="title">{{ element.title }}</strong>
                                </a>
                                <div class="category-time">
                                    <span class="post-category">{{ element.category }}</span>
                                    <span class="published-time">{{ element.date | date: 'mediumDate' }}</span>
                                </div>
                            </mat-card-content>
                            <mat-card-actions class="actions" id="uploads-actions">
                                <button class="edit" (click)="editPost(element.id)">
                                  <i class='bx bx-edit'></i>
                                  <span class="tooltiptext"> Edit </span>
                                </button>
                                <button class="delete">
                                    <i class='bx bx-trash' (click)="deletePost(element.id)"></i>
                                    <span class="tooltiptext"> Delete </span>
                                </button>
                                <button class="view" (click)="viewPost(element.id)">
                                    <i class='bx bx-detail'></i>
                                    <span class="tooltiptext"> View </span>
                                </button>
                            </mat-card-actions>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <!-- Pagination Controls -->
            <div class="pagination" *ngIf="totalPages > 1">
                <span> Page {{ currentPage }} of {{ totalPages }} </span>
                <button class="paginator-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
                <button class="paginator-btn" (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
            </div>
        </div>
    </div>
</main>