<main>
    <div class="content">
        <div class="spit-screen">
            <!-- LEFT SCREEN -->
            <div class="left">
                <!-- USER INFORMATION -->
                <div class="container" id="content1" *ngIf="currentContent === 'content1'">
                    <div class="head">
                        <h1> {{ user.fname }} {{ user.lname }} </h1>
                    </div>
                    <div class="infos">
                        <span class="email"> <i class='bx bxl-gmail'></i> <p> {{ user.email }} </p> </span>
                        <span class="address"> <i class='bx bxs-map-pin' ></i> Lives at <p> {{ user.barangay }}, {{ user.city }} </p> </span>
                        <span class="badges" *ngIf="user.badge && user.badge.length > 0"> <i class='bx bx-badge'></i> <p> {{ user.badge.replace('[', '').replace(']', '') }} </p> </span>
                    </div>

                    <div class="logo-bg">
                    </div>
                </div>

                <!-- EDIT PROFILE-->
                <div class="container" id="content2" *ngIf="currentContent === 'content2'">
                    <div class="head">
                        <h1> Edit Profile </h1>
                    </div>
                    <form action="" class="form-field" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> First name </label>
                                <input class="txt-field" type="text" name="firstname" formControlName="fname" placeholder="{{ user.fname }}">
                            </div>
                            <div class="input-field">
                                <label class="labelline"> Last name </label>
                                <input class="txt-field" type="text" name="lastname" formControlName="lname" placeholder="{{ user.lname }}">
                            </div>
                        </div>
            
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> Email </label>
                                <input class="txt-field" type="email" name="email" formControlName="email" placeholder="{{ user.email }}" >
                            </div>
                            <div class="input-field">
                                <label class="labelline"> Phone Number </label>
                                <input class="txt-field" type="text" name="phonenum" id="numberInput" formControlName="phone_number" placeholder="{{ user.phone_number }}" maxlength="16" (input)="onPhoneNumberInput($event)">
                            </div>
                        </div>

                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> Age </label>
                                <input class="txt-field" type="text" name="age" value="Gordon Heights"  formControlName="age" placeholder="{{ user.age}}">
                            </div>
                            <div class="input-field">
                                <label class="labelline"> Street </label>
                                <input class="txt-field" type="text" name="street" value="Olongapo City"  formControlName="street" placeholder="{{ user.street }}">
                            </div>
                        </div>
            
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> Barangay </label>
                                <input class="txt-field" type="text" name="barangay" value="Gordon Heights"  formControlName="barangay" placeholder="{{ user.barangay}}">
                            </div>
                            <div class="input-field">
                                <label class="labelline"> City </label>
                                <input class="txt-field" type="text" name="city" value="Olongapo City"  formControlName="city" placeholder="{{ user.city }}">
                            </div>
                        </div>
            
                        <div class="buttons">
                            <input class="submit-btn" type="submit" value="Update Info" type="submit" [disabled]="updateForm.invalid">
                        </div>
            
                    </form>
                </div>

                <!-- CHANGE PASSWORD -->
                <div class="container" id="content3" *ngIf="currentContent === 'content3'">
                    <div class="head">
                        <h1> Change Password </h1>
                    </div>
                    <form action="" class="form-field" [formGroup]="passForm" (ngSubmit)="onPasswordChange()">
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> Current Password </label>
                                <input class="txt-field" type="password" name="password" formControlName="currentPassword">
                            </div>
                            <div class="input-field">
                                <!-- <label class="labelline"> Current Password </label>
                                <input class="txt-field" type="password" name="password"> -->
                            </div>
                        </div>
            
                        <div class="title">
                            <h2> Enter your New Password </h2>
                        </div>
                        <div class="input-row">
                            <div class="input-field">
                                <label class="labelline"> New Password </label>
                                <input class="txt-field" type="password" name="password" formControlName="new_password">
                            </div>
                            <div class="input-field">
                                <label class="labelline"> Confirm Password </label>
                                <input class="txt-field" type="password" name="password" formControlName="new_password_confirmation">
                            </div>
                        </div>
            
                        <div class="buttons">
                            <input class="submit-btn" type="submit" value="Change Password" [disabled]="passForm.invalid">
                        </div>
            
                    </form>
                </div>
            </div>
        
            <!-- RIGHT SCREEN -->
            <div class="right">
                <div class="card" (click)="showContent1()" *ngIf="!(isMobile && currentContent === 'content1')" [ngClass]="{'active': currentContent === 'content1'}" style="--delay: 0.1s;">
                    <div class="icon">
                        <i class='bx bx-id-card'></i>
                    </div>
                    <div class="title">
                      <h2> Personal Info </h2>
                    </div>
                </div>
        
                <div class="card" (click)="showContent2()" *ngIf="!(isMobile && currentContent === 'content2')" [ngClass]="{'active': currentContent === 'content2'}" style="--delay: 0.2s;">
                    <div class="icon">
                        <i class='bx bxs-edit'></i>
                    </div>
                    <div class="title">
                        <h2> Edit Profile </h2>
                    </div>
                </div>
    
                <div class="card" (click)="showContent3()" *ngIf="!(isMobile && currentContent === 'content3')" [ngClass]="{'active': currentContent === 'content3'}" style="--delay: 0.3s;">
                    <div class="icon">
                        <i class='bx bx-reset' ></i>
                    </div>
                    <div class="title">
                        <h2> Change Password </h2>
                    </div>
                </div>

                <!-- <div class="buttons" (click)="logoutPopup()" *ngIf="isMobile">
                    <span> <i class='bx bx-log-out-circle'></i> 
                        <app-logout *ngIf="showPopup" (closedPopup)="closePopup()" (leaveClicked)="logout()"></app-logout>
                    </span>
                    <input class="danger-btn" type="button" value="Log Out">
                </div> -->
            </div>
        </div>
    </div>
</main>