<div class="content">
  <div class="head">
    <h1>Trivia Scores</h1>
  </div>

  <div class="table-content">
    <div class="table-head">
      <!-- Search Bar -->
      <div class="data-search">
        <input 
          type="text" 
          placeholder="Search by Name, Phone #, or Email..."
          [(ngModel)]="searchText" 
          (input)="applyFilters()"
          class="search-input"
        />
      </div>

      <!-- Score Filter -->
      <div class="data-filter">
        <select id="filter-category" [(ngModel)]="selectedScore" (change)="applyFilters()">
          <option value="">All Scores</option>
          <option *ngFor="let score of uniqueScores" [value]="score">{{ score }}</option>
        </select>
      </div>
    </div>

    <div class="overflow">
      <table mat-table [dataSource]="filteredScores" class="mat-elevation-z8">
        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let score">{{ score.user_name }}</td>
        </ng-container>

        <!-- Score Column -->
        <ng-container matColumnDef="correct">
          <th mat-header-cell *matHeaderCellDef>Correct Answers</th>
          <td mat-cell *matCellDef="let score" class="green">{{ score.correct }}</td>
        </ng-container>

        <ng-container matColumnDef="wrong">
          <th mat-header-cell *matHeaderCellDef>Wrong Answers</th>
          <td mat-cell *matCellDef="let score" class="red">{{ score.wrong }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total Answers</th>
          <td mat-cell *matCellDef="let score">{{ score.total }}</td>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let score">{{ score.phone || 'N/A' }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let score">{{ score.email }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of trivia scores"></mat-paginator>
  </div>
</div>
