.head {
  display: flex;
  justify-content: space-between;

  h1 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
  }
}

table {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  th {
    background-color: var(--primary-green);
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding-top: 5px;
  }

  th,
  td {
    font-family: 'Poppins';
    text-align: center;
    border-bottom-style: dashed;
  }

  td {
    font-size: 14px;
  }

  tr {
    transition: all 0.3s ease;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  .green {
    background-color: #89d1a150;
    color: var(--extra-hover);
    font-weight: 600;
  }

  .red {
    background-color: #d1898950;
    color: var(--red-hover);
    font-weight: 600;
  }
}

.data-search{
  margin-bottom: 1px;
  display: flex;
  justify-content: flex-start; 
  padding: 10px 0;
}

.search-input {
  width: 300px; 
  padding: 8px 12px;
  border: 2px solid var(--primary-green);
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
      border-color: var(--dark-green);
  }

  &::placeholder {
      color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 500px) {
  .table-head {
    display: flex;
    flex-direction: column;
  }
  .search-input { width: 100%; }
}