<div class="spit-screen">
    <!-- LEFT SCREEN -->
    <div class="left">
        <section class="container">
            <img src="../../../assets/logo/ResItLogo.png" alt="logo" routerLink="/resIt">
            <h1> Welcome! </h1>
            <p> From waste to wonder, let’s make it fit. Start to Reduce, Reuse, and Recycle It! </p>
        </section>
    </div>

    <!-- RIGHT SCREEN -->
    <div class="right">
        <div class="loginform">
            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <section class="appname">
                    <h2 routerLink="/resIt"> Re’sIt </h2>
                    <!-- FOR RESPONSIVE CONTENT -->
                    <h3> Welcome to&nbsp;<span class="appname-font">Re’sIt</span> </h3>
                    <p> Reduce, Reuse, and Recycle It! </p>
                </section>

                <!-- LOG IN FORM -->

                <div class="input-container email">
                    <i id="bx" class='bx bxs-user-circle'></i>
                    <input id="email" name="email" type="email" placeholder="Email" [(ngModel)]="loginData.email" required>
                  </div>
                  <div class="input-container password">
                    <i id="bx" class='bx bxs-lock'></i>
                    <input id="password" name="password" [type]="passwordVisible ? 'text' : 'password'" placeholder="Password" [(ngModel)]="loginData.password" required #password="ngModel" minlength="8">
                    <i id="show-hide" class="bx" [class.bx-show]="passwordVisible" [class.bx-hide]="!passwordVisible" (click)="togglePasswordVisibility()"></i>
                  </div>

                <!-- FORGOT PASSWORD LINK -->
                <div class="forgotpassword">
                    <p> <a routerLink="/forgotpassword"> <strong> Forgot Password? </strong> </a> </p>
                </div>

                <!-- LOG IN BUTTON -->
                <div class="button">
                    <button class="btn" type="submit" [disabled]="password.errors?.['minlength'] || isLoading">
                        <span *ngIf="!isLoading">Log In</span>
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="loading" *ngIf="isLoading">Logging In...</span>
                    </button>

                    <!-- <button class="btn" type="submit" [disabled]="isLoading" routerLink="/agri-admin">
                        <span *ngIf="!isLoading">Log In</span>
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="loading" *ngIf="isLoading">Logging In...</span>
                    </button> -->
                </div>

                <!-- SIGN UP LINK -->
                <div class="signuplink">
                    <p> New User? <a routerLink="/resIt/signup-to-resIt"> <strong> Sign Up </strong> </a> </p>
                </div>
            </form>
        </div>
    </div>
</div>