/* SPIT SCREEN */
.spit-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-1px);
    transition: all 0.5s ease;
}

/* LEFT CONTENT */
.left {
    width: 60%;
    padding: 50px;
    background-color: var(--secondary-hover);
    background-size: cover;
    animation: fadeInLeft 0.8s forwards;

    .container {
        text-align: center;
        --webkit-font-smoothing: antialiased;
        --moz-osx-font-smoothing: grayscale;

        img {
            width: 350px;
            height: 350px;
            display: block;
            margin: 5% auto;
            border-radius: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: all 0.3s ease-out;
            cursor: pointer;
        }

        h1 {
            color: var(--dark-hover);
            // text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 3.5px;
            text-transform: uppercase;
            font-family: 'Poppins';
        }

        p {
            font-weight: 400;
            font-size: 16px;
        }
    }
}

/* RIGHT CONTENT */
.right {
    width: 40%;
    padding: 150px 50px 3px 50px;
    animation: popIn 0.5s forwards 0.5s;

    .appname {
        h2 {
            text-align: center;
            color: var(--dark-green);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 3.5px;
            margin-bottom: 15%;
            font-family: 'Parkinsans';
            cursor: pointer;
        }

        h3, p { display: none; }
    }

    form {
        width: 100%;
        padding: 0;

        .input-container {
            width: 400px;
            margin-bottom: 1.2rem;
            position: relative;

            input[type="email"],
            input[type="text"],
            input[type="password"] {
                font-family: 'Poppins';
                display: block;
                width: 100%;
                height: 60px;
                box-sizing: border-box;
                border-radius: 15px;
                border: 1px solid transparent;
                outline: none;
                background: var(--input-bg);
                padding: 1rem;
                padding-left: 4rem;
                padding-bottom: 10px;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 500;
                box-shadow: 0px 1px 1px rgb(141, 141, 141);
                transition: all 0.3s ease;
            }

            input:focus {
                outline: none;
                border: 2px solid var(--secondary-green);
            }

            i { position: absolute; }

            #bx {
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                font-size: 30px;
                color: var(--dark-green);
            }

            #show-hide {
                position: absolute;
                top: 53%;
                transform: translateY(-50%);
                right: 15px;
                font-size: 22px;
                cursor: pointer;
                color: var(--dark-green);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary-green);
                }
            }
        }

        .forgotpassword p {
            font-size: 12px;
            text-align: right;
        }

        .button {
            .btn {
                margin: 30px auto; 
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                background-color: var(--dark-green);
                text-decoration: none;
                color: var(--bg-color);
                font-size: 16px;
                font-weight: 500;

                &[disabled] {
                    background-color: var(--gray-hover);
                    cursor: default;
                    box-shadow: none;

                    &:active {
                        transform: none;
                        box-shadow: none;
                    }
                }
            }
        }

        .signuplink {
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            margin-top: 5rem;
            letter-spacing: 0.5px;
            margin-top: 150px;
        }
    }
}

/* LINKS */
a {
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-green);
}

a:hover { text-decoration: underline; }

/* MEDIA SCREEN */
@media screen and (max-width: 1220px) {
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .left h1, .left p {
        display: none;
    }

    .spit-screen {
        display: flex;
        flex-direction: column;
        height: 850px;
    }

    /* LEFT SCREEN */
    .left {
        height: 450px;
        width: 100%;
        padding: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        .container {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }

    /* RIGHT SCREEN */
    .right {
        position: relative;
        height: 0;
        width: 100%;

        form {
            width: 100%;
            .input-container { width: 100%; 
                input[type="email"],
                input[type="text"],
                input[type="password"] {
                    background-color: var(--cont-input-hover);
                }
            }
            .signuplink { margin-top: 100px; }
        }

        .loginform {
            position: absolute;
            background-color: var(--container);
            width: 80%;
            padding: 50px 50px 20px 50px;
            border-radius: 20px;
            // margin-bottom: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
        }

        .appname {
            margin-bottom: 40px;
            h2 { display: none; }
        
            h3 {
                display: flex;
                text-align: center;
                justify-content: center;
                color: var(--dark-green);
                font-size: 24px;
                font-weight: 700;
                letter-spacing: .5px;
                margin-bottom: 3px;
                font-family: 'Poppins';
            }
            p {
                display: flex;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                text-align: center;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 500px) {
    .left {
        height: 500px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        .container {
            img {
                width: 170px;
                height: 170px;
                margin-top: 50px;
                margin-bottom: 140%;
            }
        }
    }

    .right {
        height: 500px;
        .loginform {
            width: 90%;
            margin-bottom: 480px;
            padding: 40px 30px 20px 30px;
        }

        .appname {
            margin-bottom: 30px;
        }
    }
}