<div class="content">
  <div class="head">
    <h1> Your Posts </h1>
    <div class="route-btn" (click)="uploadIdea()">
      <i class='bx bx-plus' ></i> <a> Upload </a>
    </div>
  </div>

  <div class="filters">
    <div class="selects">
      <select id="filter-category">
        <option selected value=""> All Category </option>
        <option value="Compost"> Compost </option>
        <option value="Plastic"> Plastic </option>
        <option value="Rubber"> Rubber </option>
        <option value="Wood and Paper"> Wood and Paper </option>
        <option value="Miscellaneous Products"> Miscellaneous Products </option>
      </select>
      <select id="filter-status">
        <option selected value=""> All Status </option>
        <option value="Pending"> Pending </option>
        <option value="Approved"> Approved </option>
        <option value="Declined"> Declined </option>
      </select>
    </div>

    <form>
      <div class="date-filter">
          <div class="txt_field">
              <label for="datepicker"> From: </label>
              <input type="date" id="datepicker-start" autocomplete="off" >
          </div>
          <div class="txt_field">
              <label for="datepicker"> To: </label>
              <input type="date" id="datepicker-end" autocomplete="off" >
          </div>
      </div>
    </form>
  </div>

  <div class="post-container">
    <!-- Show skeleton loaders while posts are loading -->
    <ng-container *ngIf="isLoading">
      <div class="post-box skeleton-loader" *ngFor="let loader of loaders">
        <div class="post-img">
          <div class="image-placeholder"></div>
          <span class="category-placeholder"></span>
        </div>
        <div class="post-text">
          <div class="title-placeholder"></div>
          <div class="category-time-placeholder"></div>
          <div class="publisher-placeholder"></div>
        </div>
      </div>
    </ng-container>

    <!-- Dynamically render posts once loaded -->
    <ng-container *ngIf="!isLoading">
      <mat-card *ngFor="let element of dataSource" class="post-box">
        <div mat-card-header class="post-img">
          <img alt="uploaded image" [src]="element.image" (click)="viewPost(element.id)">
          <span class="status" [ngClass]="{
              'pending-status': element.status === 'pending',
              'approved-status': element.status === 'approved',
              'declined-status': element.status === 'declined',
            }">{{ element.status }}</span>
        </div>
    
        <!-- POST CONTENT -->
        <mat-card-content class="post-text">
          <a routerLink="../viewpost">
            <strong class="title">{{ element.title }}</strong>
          </a>
          <div class="category-time">
            <span class="post-category">{{ element.category }}</span>
            <span class="published-time">{{ element.created_at | date: 'mediumDate' }}</span>
          </div>
        </mat-card-content>
    
        <mat-card-actions class="actions" id="uploads-actions">
          <!-- Only show Edit button if status is pending -->
          <button *ngIf="element.status === 'pending'" class="edit" (click)="editPost(element.id)">
            <i class='bx bx-edit'></i>
            <span class="tooltiptext"> Edit </span>
        </button>
          <button class="delete">
              <i class='bx bx-trash' (click)="deletePost(element.id)"></i>
              <span class="tooltiptext"> Delete </span>
          </button>
          <button class="view" (click)="viewPost(element.id)">
              <i class='bx bx-detail'></i>
              <span class="tooltiptext"> View </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
      
</div>