.head {
    display: flex;
    justify-content: space-between;

    h1 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
    }

    .route-btn {
        margin-top: -2px;
        padding-top: 2px;
        width: 140px;
        text-transform: capitalize;
        i { font-weight: 700; padding-right: 5px; color: white; }
        a { color: white; }
    }
}

table {
    box-shadow: var(--table-shadow);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;

    th {
        background-color: var(--primary-green);
        color: white;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-size: 16px;
        padding-top: 5px;
    }

    th, td {
        font-family: 'Poppins';
        text-align: center;
    }

    td { font-size: 14px; }
    tr { transition: all 0.3s ease; } 
    tr:hover { background-color: var(--white-hover); }

    .status {
        color: var(--secondary-green);
    }
}

table { // fixed width
    td:nth-child(1) {
        min-width: 130px;
        max-width: 130px;
    }
    td:nth-child(2) {
        min-width: 140px;
        max-width: 140px;
    }
    td:nth-child(3) {
        min-width: 300px;
        max-width: 300px;
    }
    td:nth-child(4) {
        min-width: 110px;
        max-width: 110px;
    }
    td:nth-child(5) {
        min-width: 130px;
        max-width: 130px;
    }
}

mat-paginator {
    padding: 0;
    margin: 0;
}

@media (max-width: 950px) {
    table { // fixed width
        td:nth-child(3) {
            min-width: 200px;
            max-width: 200px;
        }
    }
}

@media (max-width: 850px) {
    table {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

@media (max-width: 480px) {

    
}
