<div class="content">
  <div class="head">
    <h1> Your Posts </h1>
    <div class="route-btn" (click)="uploadIdea()">
      <i class='bx bx-plus' ></i> <a> Create </a>
    </div>
  </div>

  <div class="filters">
    <div class="selects">
      <select id="filter-category" (change)="onCategoryChange($event)">
          <option selected value=""> All Category </option>
          <option value="Reduce">Reduce</option>
          <option value="Reuse">Reuse</option>
          <option value="Recycle">Recycle</option>
          <option value="Gardening">Gardening</option>
      </select>
    </div>

    <form>
      <div class="date-filter">
          <div class="txt_field">
              <label for="datepicker"> From: </label>
              <input type="date" id="datepicker-start" autocomplete="off" (change)="onDateChange($event, 'from')">
          </div>
          <div class="txt_field">
              <label for="datepicker"> To: </label>
              <input type="date" id="datepicker-end" autocomplete="off" (change)="onDateChange($event, 'to')">
          </div>
      </div>
    </form>
  </div>

  <!-- No posts available message -->
  <div *ngIf="!isLoading && filteredDataSource.data.length === 0" class="no-sign">
    <div class="no-clipart">
      <img src="../../../../assets/images/NoPosts2.png">
    </div>
  </div>

  <div class="post-container">
    <!-- Show skeleton loaders while posts are loading -->
    <ng-container *ngIf="isLoading">
      <div class="post-box skeleton-loader" *ngFor="let loader of loaders">
        <div class="post-img">
          <div class="image-placeholder"></div>
          <span class="category-placeholder"></span>
        </div>
        <div class="post-text">
          <div class="title-placeholder"></div>
          <div class="category-time-placeholder"></div>
          <div class="publisher-placeholder"></div>
        </div>
      </div>
    </ng-container>

    <!-- Dynamically render posts once loaded -->
    <ng-container *ngIf="!isLoading">
      <mat-card *ngFor="let element of filteredDataSource.data" class="post-box">
        <div mat-card-header class="post-img">
          <ng-container *ngIf="element.image_type === 'image'; else videoTemplate">
            <img alt="uploaded image" [src]="element.image || '../../../../assets/images/NoImage.png'" (error)="onImageError($event)">
          </ng-container>
            
          <ng-template #videoTemplate>
              <ng-container *ngIf="element.image; else noVideoTemplate">
                <video controls #videoElement [poster]="element.previewImage || '../../../../assets/images/NoImage.png'" (loadedmetadata)="captureFirstFrame(videoElement, element)">
                  <source [src]="element.image" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </ng-container>
          </ng-template>
            
          <ng-template #noVideoTemplate>
              <img alt="No video available" src="../../../../assets/images/NoImage.png">
          </ng-template>

          <span class="status" [ngClass]="{'posted-status': element.status === 'posted' || 'reported', 'removed-status': element.status === 'removed'}">
            {{ element.status === 'posted' || element.status === 'reported' ? element.total_likes + ' Like/s' : (element.status === 'removed' ? 'Removed' : '') }}
          </span>
        </div>
    
        <!-- POST CONTENT -->
        <mat-card-content class="post-text">
          <a (click)="viewPost(element.id)">
            <strong class="title">{{ element.title }}</strong>
          </a>
          <div class="category-time">
            <span class="post-category">{{ element.category }}</span>
            <span class="published-time">{{ element.date | date: 'mediumDate' }} at {{ element.date | date: 'shortTime' }}</span>
          </div>
        </mat-card-content>
    
        <mat-card-actions class="actions" id="uploads-actions">
          <button class="edit" (click)="editPost(element.id)">
            <i class='bx bx-edit'></i>
            <span class="tooltiptext"> Edit </span>
          </button>
          <button class="delete">
              <i class='bx bx-trash' (click)="deletePost(element.id)"></i>
              <span class="tooltiptext"> Delete </span>
          </button>
          <button class="view" (click)="viewPost(element.id)">
              <i class='bx bx-detail'></i>
              <span class="tooltiptext"> View </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination" *ngIf="totalPages > 1">
    <span> Page {{ currentPage }} of {{ totalPages }} </span>
    <button class="paginator-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="paginator-btn" (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
  </div>
</div>